{#
/**
 * @file
 * Template implementation for the az_media_tableau theme hook.
 *
 * Available variables:
 * - url: (string) The full URL to this document.
 */
#}
{{ attach_library('az_media_tableau/embed') }}
<div class="viz" data-url="{{ url }}">&nbsp;</div>
