includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  level: 1
  paths:
    - .
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    # @see https://www.drupal.org/docs/develop/development-tools/phpstan/handling-unsafe-usage-of-new-static#s-ignoring-the-issue
    - "#^Unsafe usage of new static#"
