{#
/**
 * @file imagefield-zoom.html.twig
 * Default theme implementation to present images for the imagefield_zoom
 *
 * Available variables:
 * - images: Formatted images based on the field formatter options that were set.
 */
#}
<div class="image-zoom-container">{{ images }}</div>

