.ranking-with-link:hover .ranking-title,
.ranking-title > a:hover {
  text-decoration: underline;
}

.ranking-with-link:hover img {
  transform: scale(1.03);
  transition: ease .25s;
}

.ranking-title > a {
  text-decoration: inherit;
}

.ranking-body .visually-hidden {
  display: block;
  position: static !important;
}
