/* Responsive ranking card styles */
.az-ranking-responsive {
  /* Small viewports. Default: 1 card per row */
  min-height: 190px;
}

/* Medium viewports. Default: 2 cards per row */
@media (min-width: 768px) {
  .az-ranking-responsive {
    min-height: 230px;
  }
}

/* Large viewports. Default: 4 cards per row */
@media (min-width: 992px) {
  .az-ranking-responsive {
    min-height: 260px;
  }
}

/**
 * Pre-set css hover colors based on primary card background color
 *
 */

.text-bg-white.ranking-bold-hover:hover * {
    background-color: RGBA(var(--bs-blue-rgb),var(--bs-bg-opacity,1)) !important;
    color: #ffffff !important;
}
.text-bg-white.ranking-subtle-hover:hover * {
    background-color: RGBA(var(--bs-cool-gray-rgb),var(--bs-bg-opacity,1)) !important;
    color: #000000 !important;
}

.text-bg-blue.ranking-bold-hover:hover * {
    background-color: #ffffff !important;
    color: RGBA(var(--bs-blue-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-blue.ranking-subtle-hover:hover * {
    background-color: RGBA(var(--bs-azurite-rgb),var(--bs-bg-opacity,1)) !important;
    color: #ffffff;
}

.text-bg-red.ranking-bold-hover:hover * {
    background-color: #ffffff !important;
    color: RGBA(var(--bs-red-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-red.ranking-subtle-hover:hover * {
    background-color: RGBA(var(--bs-chili-rgb),var(--bs-bg-opacity,1)) !important;
    color: #ffffff !important;
}

.text-bg-sky.ranking-bold-hover:hover * {
    background-color: RGBA(var(--bs-blue-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-sky-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-oasis.ranking-bold-hover:hover * {
    background-color: #ffffff!important;
    color: RGBA(var(--bs-oasis-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-midnight.ranking-bold-hover:hover * {
    background-color: RGBA(var(--bs-sky-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-midnight-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-chili.ranking-bold-hover:hover * {
    background-color: #ffffff !important;
    color: RGBA(var(--bs-chili-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-cool-gray.ranking-bold-hover:hover * {
    background-color: RGBA(var(--bs-azurite-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-cool-gray-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-warm-gray.ranking-bold-hover:hover * {
    background-color: RGBA(var(--bs-ash-rgb),var(--bs-bg-opacity,1)) !important;
    color: #ffffff !important;
}

/* Without direct referecnes */
.text-bg-azurite.ranking-bold-hover:hover {
    background-color: #ffffff !important;
    color: RGBA(var(--bs-cool-azurite-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-bloom.ranking-bold-hover:hover * {
    background-color: RGBA(var(--bs-blue-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-leaf-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-leaf.ranking-bold-hover:hover * {
    background-color: RGBA(var(--bs-blue-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-leaf-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-river.ranking-bold-hover:hover * {
    background-color: RGBA(var(--bs-blue-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-sky-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-ash.ranking-bold-hover:hover * {
    background-color: #ffffff !important;
    color: RGBA(var(--bs-ash-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-silver.ranking-bold-hover:hover * {
    background-color: RGBA(var(--bs-ash-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-white-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-mesa.ranking-bold-hover:hover * {
    background-color: #ffffff !important;
    color: RGBA(var(--bs-red-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-gray-100.ranking-bold-hover:hover * {
    background-color: RGBA(var(--bs-ash-rgb),var(--bs-bg-opacity,1)) !important;
    color: #ffffff !important;
}
.text-bg-gray-200.ranking-bold-hover:hover * {
    background-color: RGBA(var(--bs-ash-rgb),var(--bs-bg-opacity,1)) !important;
    color: #ffffff !important;
}
.text-bg-gray-300.ranking-bold-hover:hover * {
    background-color: RGBA(var(--bs-ash-rgb),var(--bs-bg-opacity,1)) !important;
    color: #ffffff !important;
}

/**
 * Transparent BG Ranking font color overrides
 */

.ranking-text-white * {
    color: #ffffff !important;
}
.ranking-text-black * {
    color: #000000 !important;
}
.ranking-text-az-blue * {
    color: RGBA(var(--bs-blue-rgb),var(--bs-bg-opacity,1));
}