#az-back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
    align-items: center;
}

/**
 * Hide back to top button on mobile devices
 */
@media (max-width: 767px) {
  #az-back-to-top {
    display: none !important;
  }
}
