/* For structuring header utilities*/
header#header_arizona {
  min-height: 50px;
}

.navbar-offcanvas.no-navigation-region {
  border: 0;
}

/* Fixes https://github.com/az-digital/az_quickstart/issues/2549 */
header#header_arizona .redbar-buttons {
  overflow: hidden;
}
