#az-back-to-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    display: none;
    align-items: center;
    padding-left: 4px;
}

#az-back-to-top img {
    width: 20px;
    height: 20px;
}

/**
 * Hide back to top button on mobile devices
 */
@media (max-width: 767px) {
  #az-back-to-top {
    display: none !important;
  }
}
