#container-with-sidebar-collapsible .region-content .full-width-background {
  /* 
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  */
  overflow: hidden;
}

#az-sidebar-collapsible .nav-pills > .nav-item {
  border-top-left-radius: 0;
  border-bottom-right-radius: var(--bs-border-radius);
}

.region-az-sidebar-collapsible .nav.nav-pills li a.is-active {
  box-shadow:inset 6px 0 #378dbd;
}

.region-az-sidebar-collapsible .nav.nav-pills.flex-column>li a:focus, .region-az-sidebar-collapsible .nav.nav-pills.flex-column>li a:hover {
  background-color: #001c48;
  color: white;
}

.region-az-sidebar-collapsible .nav.nav-pills.flex-column>li {
  margin-top: 0;
  border: 0;
}

#az-sidebar-collapsible {
  min-width: 0;
  /* overflow: hidden; */
}

#az-sidebar-collapsible.collapsing {
  transition: none;
}

#az-sidebar-collapsible.sticky:not(.show) > div {
  border: 0 !important;
  margin: 1px 0 !important;
}

#az-sidebar-collapsible.close:not(.show) {
  display: none !important;
}

#az-sidebar-collapse-btn {
  /* width: 2.75rem; */
  line-height: .675rem;
}

#az-sidebar-collapsible:not(.show):not(.sticky) #az-sidebar-collapse-btn {
  padding-left: .25rem !important;
  padding-right: .25rem !important;
}

.collapse-btn-div {
  margin: .25rem;
}

#az-sidebar-collapsible.sticky:not(.show) .collapse-btn-div {
  position: fixed;
  margin: 0;
  left: -2px;
  right: unset;
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  z-index: 1020;
}

#az-sidebar-collapse-icon {
  /* margin-left: -.675rem; */
}

#az-sidebar-collapsible .material-symbols-rounded {
  font-size: 1.625rem;
}
