/* Styles for the Sidebar collapsible menu block */

.az-sidebar-collapsible-menu,
.az-sidebar-collapsible-menu h2 {
  font-family: proxima-nova-condensed, var(--bs-body-font-family);
}

.az-sidebar-collapsible-menu .az-sidebar-collapsible-parent > a {
  width: 100%;
  border-radius: 0;
}

.az-sidebar-collapsible-menu .nav.nav-pills.flex-column > li {
  margin-top: 0;
  border: 0;
}

.az-sidebar-collapsible-menu .nav-pills a {
  font-weight: 400;
}

.az-sidebar-collapsible-parent > a,
.az-sidebar-collapsible-menu .nav-pills .nav-link.is-active {
  font-weight: 600;
}

.az-sidebar-collapsible-menu .is-active {
  background-color: #e9ecef;
  box-shadow: inset 6px 0 #378dbd;
}

.az-sidebar-collapsible-parent > a:hover,
.az-sidebar-collapsible-menu .btn:hover {
  background-color: #e9ecef;
}

.az-sidebar-collapsible-menu .material-symbols-rounded {
  font-size: 1.625rem;
}
