.align-center .az-media {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.az-large.az-media {
  width: 1140px;
  max-width:100%;
}
.az-medium.az-media {
  width: 760px;
  max-width:100%;
}
.az-natural-size.az-media {
  width: auto;
  max-width:100%;
}
.az-small.az-media {
  width:360px;
  max-width: 100%;
}
.az-very-small.az-media {
  width:220px;
  max-width: 100%;
}
.az-square.az-media {
  width:220px;
  max-width: 100%;
}
.az-default.az-media {
  width: 100%;
  max-width:100%;
}
.field--type-entity-reference.field--name-field-az-media-image {
  margin-bottom: 0 !important;
}
