.align-center .az-media {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.az-large.az-media {
  width: 100%;
  max-width:1140px;
}
.az-medium.az-media {
  width: 100%;
  max-width:760px;
}
.az-natural-size.az-media {
  width: auto;
  max-width:100%;
}
.az-small.az-media {
  width: 100%;
  max-width: 360px;
}
.az-square.az-media {
  width: 100%;
  max-width: 220px;
}
.az-default.az-media {
  width: 100%;
  max-width:100%;
}

.field--type-entity-reference.field--name-field-az-media-image {
  margin-bottom: 0 !important;
}
