.ua-zen-back-to-top {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 3;
}

.ua-zen-back-to-top {
  background-color: rgba(12, 35, 75, 0.75);
  border-color: transparent;
  padding-top: 8px;
  padding-bottom: 4px;
}

.ua-zen-back-to-top:hover,
.ua-zen-back-to-top:focus {
  background-color: rgb(12, 35, 75);
  border-color: rgb(12, 35, 75);
}
