{#
/**
 * @file
 * Default theme implementation to present a media item.
 *
 * Available variables:
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div class="az-video-container">
  <div class="az-video-player"></div>
</div>
<div class="bg-video-player-control btn btn-light az-video-pause video-pause" title="Pause the Video" aria-hidden="">Pause Video</div>
<div class="bg-video-player-control btn btn-light az-video-play video-play" title="Play the video" aria-hidden="">Play Video</div>
