{#
/**
 * @file
 * Default theme implementation to present a media item.
 *
 * Available variables:
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<div class="az-video-container">
  <div class="az-video-player"></div>
</div>
<button type="button" class="bg-video-player-control btn btn-light az-video-playpause video-playpause" title="Pause the Video" aria-hidden="">Pause Video</button>
