{#
/**
 * @file
 * Theme override for an AZ Person Experience field.
 *
 * This is an override of field.html.twig for the node title field. See that
 * template for documentation about its details and overrides.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.

 *
 * @see field.html.twig
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}

{% if not label_hidden %}
  <h2 class="h4">{{ label }}</h2>
{% endif %}

<ul{{ attributes.addClass(classes) }}>
  {%- for item in items -%}
    <li class="mb-1">{{ item.content }}</li>
  {%- endfor -%}
</ul>
