/* Node Overrides */
.az-carousel .node__content,
.az-carousel .field--type-entity-reference {
	margin: 0;
}

/* 
* 	Slick Track
* 	Fix problem causing the next item slide to jump down and cause taller track
*/
.az-carousel .slick-track {
	display: flex;
}

/* Carousel Navigation/Buttons */
.az-carousel .slick-dotted {
	margin-bottom: 0;
}
.az-carousel .slick-arrow {
	border-radius: 0;
	background-color: rgba(0, 28, 72, .85);
	transition: background-color .3s;
	width: 100px;
	height: 100px;
	overflow: hidden;
}
	.az-carousel .slick-arrow::before {
		color: #FFFFFF;
		font-family: proxima-nova,calibri,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
		font-size: 6rem;

		position: absolute;
		top: 44%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
	}
	.az-carousel .slick-prev::before {
		content: "\2039";
		left: 44%;
	}
	.az-carousel .slick-next::before {
		content: "\203a";
		left: 56%;
	}

	.az-carousel .slick-arrow:focus,
	.az-carousel .slick-arrow:hover {
		background-color: rgba(0, 28, 72, 1);
	}

.az-carousel .slick-dots {
	position: relative;
	bottom: 0;
	background-color: #e9ecef;
	padding: .5rem;
}
	.az-carousel .slick-dots li,
	.az-carousel .slick-dots button,
	.az-carousel .slick-dots button::before {
		width: 48px;
		height: 48px;
	}
	.az-carousel .slick-dots li {
		margin: 0;
		padding: 8px;
	}
	.az-carousel .slick-dots button::before {
		line-height: 48px;
		font-size: 1.25rem;
		color: #001C48;
	}
	.az-carousel .slick-dots li.slick-active button::before {
		color: #001C48;
	}

/* Slide */
.az-carousel-slide {
	position: relative;
}
	/* Ensure slides are the same height */
	.az-carousel .slick-initialized .slick-slide {
		display: flex;
		flex-grow: 1;
		height: inherit;
	}
	.az-carousel .slick-initialized .slick-slide .node,
	.az-carousel .slick-initialized .slick-slide .node__content {
		display: flex;
	}
	/* end ensure slides are the same height */

	.az-carousel .slick-active {
		opacity: 1;
	}
	.az-carousel .slide:not(.slick-active) {
		opacity: .25;
	}
	.az-carousel .unslick .slide:not(.slick-active) {
		opacity: 1;
	}

/* Slide Image */
.az-carousel-slide img {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	position: relative;
	display: block;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	min-height: 250px;
	object-fit: cover;
	z-index: -1;
}

/* Slide Details */
.az-carousel-slide-details {
	position: relative;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	flex-grow: 1;
	background-color: rgb(0,28,72);
}

/* Desktop Styles */
@media (min-width: 1110px) {

	.az-carousel .slick-initialized .slick-slide {
		display: block;
		flex-grow: unset;
	}

	.az-carousel-slide-details {
		position: absolute;
		background-color: rgba(0,28,72,.8);
	}
	.az-carousel-slide img {
		min-height: 500px;
		width: 1110px;
	}
}
