<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="az-quickstart">
  <description>PHPCS configuration for AZ QuickStart</description>
  <!-- Check all files within the AZ QuickStart installation profile. -->
  <file>.</file>
  <arg name="extensions" value="php,install,module,profile,inc"/>

  <arg name="cache" value=".phpcs-cache"/>
  <arg name="parallel" value="10"/>

  <exclude-pattern>*min.css</exclude-pattern>
  <exclude-pattern>*min.js</exclude-pattern>
  <exclude-pattern>*/arizona-bootstrap/*</exclude-pattern>
  <exclude-pattern>*/ua-brand-icons/*</exclude-pattern>
  <exclude-pattern>*/node_modules/*</exclude-pattern>
  <exclude-pattern>*/vendor/*</exclude-pattern>
  <exclude-pattern>*/.ddev/*</exclude-pattern>

  <!-- Code is to be tested as Drupal 8. -->
  <config name="drupal_core_version" value="8"/>

  <!-- Set configuration so that warnings should not cause error exit status. -->
  <config name="ignore_warnings_on_exit" value="0"/>

  <!-- Framework or CMS used. Must be a class under Security_Sniffs. -->
  <!-- TODO: Investigate this missing class -->
  <!-- <config name="CmsFramework" value="Drupal8"/> -->

  <!-- Internal sniffs -->
  <rule ref="Internal.NoCodeFound">
    <!-- No PHP code in *.md *.txt *.yml -->
    <exclude-pattern>*.md</exclude-pattern>
    <exclude-pattern>*.txt</exclude-pattern>
    <exclude-pattern>*.yml</exclude-pattern>
  </rule>

  <!-- Drupal sniffs. -->
  <rule ref="Drupal">
    <!-- Remove warnings in regard to Drupal.org .info file generation. -->
    <exclude name="Drupal.InfoFiles.AutoAddedKeys"/>

    <!-- TagsNotGrouped has false positives. See https://www.drupal.org/node/2502837  -->
    <exclude name="Drupal.Commenting.DocComment.TagsNotGrouped"/>

    <!-- MissingShort has false positives. See https://www.drupal.org/project/drupal/issues/2572635  -->
    <exclude name="Drupal.Commenting.DocComment.MissingShort"/>
  </rule>
  <rule ref="DrupalPractice">
  </rule>
</ruleset>
