parameters:
	customRulesetUsed: true
	tipsOfTheDay: false
	reportUnmatchedIgnoredErrors: false
	excludePaths:
		- */tests/Drupal/Tests/Listeners/Legacy/*
		- */tests/fixtures/*.php
		- */settings*.php
		- */node_modules/*

	ignoreErrors:
		- '#\Drupal calls should be avoided in classes, use dependency injection instead#'
		- '#Plugin definitions cannot be altered.#'
		- '#Missing cache backend declaration for performance.#'
		- '#Plugin manager has cache backend specified but does not declare cache tags.#'
		- '#Unsafe usage of new static\(\)#'

	drupal:
		entityMapping:
			paragraph:
				class: Drupal\paragraphs\Entity\Paragraph
			paragraphs_type:
				class: Drupal\paragraphs\Entity\ParagraphsType

	phpVersion: 80100
	level: 2

includes:
	- %currentWorkingDirectory%/vendor/mglaman/phpstan-drupal/extension.neon
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-deprecation-rules/rules.neon
