<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="../../../core/tests/bootstrap.php"
         colors="true"
         printerClass="\Drupal\Tests\Listeners\HtmlOutputPrinter"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory>./modules</directory>
    </include>
    <exclude>
      <directory suffix="Test.php">./</directory>
      <directory suffix="TestBase.php">./</directory>
    </exclude>
  </coverage>
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
  </php>
  <testsuites>
    <testsuite name="AZ Quickstart Unit">
      <directory>./tests</directory>
      <directory>./modules</directory>
    </testsuite>
  </testsuites>
</phpunit>
