{#
/**
 * @file
 * Template implementation for the az_media_google_calendar theme hook.
 *
 * Available variables:
 * - url: (string) The full URL to this document.
 * - width: (int) The width of the iframe, in pixels.
 * - height: (int) The height of the iframe, in pixels.
 */
#}
<!-- FORM: BODY SECTION -->
<div class="wFormContainer" >
    <div class="wFormHeader"></div>
    <style type="text/css">
                #tfa_7,
                *[id^="tfa_7["] {
                    width: 100% !important;
                }
                #tfa_7-D,
                *[id^="tfa_7["][class~="field-container-D"] {
                    width: auto !important;
                }
            
                #tfa_9,
                *[id^="tfa_9["] {
                    width: 100% !important;
                }
                #tfa_9-D,
                *[id^="tfa_9["][class~="field-container-D"] {
                    width: auto !important;
                }
            </style><div class=""><div class="wForm" id="72-WRPR" data-language="en_US" dir="ltr">
<div class="codesection" id="code-72"><style>
  .wForm .inputWrapper {
    width: 100%;
  }
  #tfa_7-DW, #tfa_7-DW .inputContainer,
  #tfa_9-DW, #tfa_9-DW .inputContainer {
    width: 100% !important;
  }
  form>:not(.wfContent) #tfa_7,
  form>:not(.wfContent) #tfa_9 {
    background: transparent !important;
    border: none !important;
    padding: 0 !important;
    resize: none;
    overflow: auto;
    height: 4.6rem;
    font-size: 1.2rem;
    color: #0c234b;
    font-weight: 500;
    line-height: 1.2;
    outline: none;
  }
  form>:not(.wfContent) #tfa_9 {
    height: 6.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3;
    color: inherit;
  }
  @media all and (min-width: 600px) {
    form>:not(.wfContent) #tfa_7 {
	    height: 3.1rem;
    }
    form>:not(.wfContent) #tfa_9 {
	  height: 3rem;
    }
  }
  form>:not(.wfContent) #tfa_7:focus,
  form>:not(.wfContent) #tfa_9:focus {
    box-shadow: none;
	border: none !important;
  }
</style></div>
<form method="post" action="https://forms-a.trellis.arizona.edu/api_v2/workflow/processor" class="hintsBelow labelsAbove" id="72">
<div class="htmlSection" id="tfa_8"><div class="htmlContent" id="tfa_8-HTML">Please complete this form to subscribe to our mailing list.</div></div>
<div class="oneField field-container-D  labelsRemoved  " id="tfa_7-D"><div class="inputWrapper"><textarea autocomplete="off" cols="100%" id="tfa_7" name="tfa_7" title="Campaign Name" class=""></textarea></div></div>
<div class="oneField field-container-D  labelsRemoved  " id="tfa_9-D"><div class="inputWrapper"><textarea autocomplete="off" cols="100%" id="tfa_9" name="tfa_9" title="Campaign Description" class=""></textarea></div></div>
<div class="oneField field-container-D    " id="tfa_1-D">
<label id="tfa_1-L" class="label preField reqMark" for="tfa_1">First Name</label><br><div class="inputWrapper"><input aria-required="true" type="text" id="tfa_1" name="tfa_1" value="" title="First Name" class="required"></div>
</div>
<div class="oneField field-container-D    " id="tfa_2-D">
<label id="tfa_2-L" class="label preField reqMark" for="tfa_2">Last Name</label><br><div class="inputWrapper"><input aria-required="true" type="text" id="tfa_2" name="tfa_2" value="" title="Last Name" class="required"></div>
</div>
<div class="oneField field-container-D    " id="tfa_3-D">
<label id="tfa_3-L" class="label preField reqMark" for="tfa_3">Email</label><br><div class="inputWrapper"><input aria-required="true" type="text" id="tfa_3" name="tfa_3" value="" title="Email" class="required"></div>
</div>
<div id="tfa_11" class="section inline group">
<input type="hidden" id="tfa_4" name="tfa_4" value="" class=""><input type="hidden" id="tfa_10" name="tfa_10" value="" class="">
</div>
<div class="actions" id="72-A" data-contentid="submit_button"><input type="submit" data-label="Submit" class="primaryAction" id="submit_button" value="Submit"></div>
<div style="clear:both"></div>
<input type="hidden" value="185" name="tfa_dbFormId" id="tfa_dbFormId"><input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId"><input type="hidden" value="df2f1f106b46107ed90703d1b10603ff" name="tfa_dbControl" id="tfa_dbControl"><input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid"><input type="hidden" value="1" name="tfa_dbVersionId" id="tfa_dbVersionId"><input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
</form>
</div></div><div class="wFormFooter"><p class="supportInfo"><a target="new" class="contactInfoLink" href="https://trellis.arizona.edu/about/privacy-statement" data-testid="contact-info-link">Privacy Statement</a><br></p></div>
  <p class="supportInfo" >
      </p>
 </div>

<script
    id="analytics-collector-script"
    type="text/javascript"
    src="https://forms-a.trellis.arizona.edu/dist/analytics/data-collector.b669b669e4e65b402126.js"
    data-customer-id="28833"
    data-endpoint="https://analytics.formassembly.com/v1/traces"
></script>

<script src="https://forms-a.trellis.arizona.edu/api_v2/sst/copy-and-paste"></script>
