{#
/**
 * @file
 * Template implementation for the az_media_trellis theme hook.
 *
 * Available variables:
 * - url: (string) The full URL to this document.
 * - width: (int) The width of the iframe, in pixels.
 * - height: (int) The height of the iframe, in pixels.
 */
#}
<!--<style>
  .az-media-trellis-preview iframe,
  .az-media-trellis-preview form {
    pointer-events: none;
    opacity: 0.6;
  }
</style>-->
<div id="fa-form" class="fa-form"></div>
<script src="{{ url }}" data-qp-target-id="fa-form" defer></script>
<!--<script>
  (function (Drupal) {
    Drupal.behaviors.azMediaTrellisPreview = {
      attach: function (context, settings) {
        // Detect preview mode and disable form interaction.
        const previewForms = document.querySelectorAll('.az-media-trellis-preview iframe, .az-media-trellis-preview form');
        previewForms.forEach((form) => {
          form.style.pointerEvents = 'none';
          form.style.opacity = '0.6';
        });
      }
    };
  })(Drupal);
</script>-->