{#
/**
 * @file
 * Template implementation for the az_media_google_calendar theme hook.
 *
 * Available variables:
 * - url: (string) The full URL to this document.
 * - width: (int) The width of the iframe, in pixels.
 * - height: (int) The height of the iframe, in pixels.
 */
#}
<div class="embed-responsive embed-responsive-16by9">
  <iframe src="{{ url }}" class="embed-responsive-item" frameborder="0"></iframe>
</div>
