{#
/**
 * @file
 * Template implementation for the az_media_trellis theme hook.
 *
 * Available variables:
 * - url: (string) A formatted Trellis source URL
 * - attributes: (Attribute) HTML attributes for the container element
 */
#}
<div {{ attributes }}></div>
