{#
/**
 * @file
 * Template implementation for the az_media_trellis theme hook.
 *
 * Available variables:
 * - url: (string) A formatted Trellis source URL
 * - view_mode: (string) The current view mode (e.g., 'default', 'az_medium', 'az_small')
 */
#}
{{ attach_library('az_media_trellis/az-media-trellis') }}
<div id="fa-form" class="fa-form fa-form--{{ view_mode|clean_class }}" style="min-height: 300px; width: 100%; overflow: hidden;"></div>
<script src="{{ url }}" data-qp-target-id="fa-form" defer></script>
