{#
/**
 * @file
 * Template implementation for the az_media_trellis theme hook.
 *
 * Available variables:
 * - url: (string) A formatted Trellis source URL
 */
#}
{% set debug_url = "https://forms-a.trellis.arizona.edu/publish/185?tfa_4=7018N00000071eDQAQ&tfa_7=CampaignTitle&tfa_9=CampaignDesc" %}
{% set debug_code = '<div id="fa-form"></div>\n' ~
    '<script src="' ~ debug_url ~ '" data-qp-target-id="fa-form" defer=""></script>' %}

<div>debug_url = {{ debug_url }}</div>
<code>{{ debug_code }}</code>

{{ debug_code|raw }}
