{#
/**
 * @file
 * Template implementation for the az_media_trellis theme hook.
 *
 * Available variables:
 * - url: (string) The full URL to this document.
 * - width: (int) The width of the iframe, in pixels.
 * - height: (int) The height of the iframe, in pixels.
 */
#}

{% if not editing %}
{{ attach_library('az_media_trellis/az-media-trellis') }}
<div id="fa-form" class="az-default az-media">Not Editing</div>
<script src="{{ url }}" data-qp-target-id="fa-form" defer></script>
{% else %}
<div id="fa-form" class="az-default az-media">Editing!</div>
{% endif %}
