{#
  Themes hierarchical taxonomy terms as nested <ul> elements.
  This template is intended to be called from within another template to provide
  the "scaffolding" of nested lists while the calling template provides the
  actual filter element via the 'item' variable.
  Available variables:
    - current_nesting_level: the nesting level of the most recently printed item.
    - new_nesting_level: the nesting level of the item to print.
    - item: The item to print.
    - loop: The loop variable from the iterator that calls this template.
      Requires the loop.first and loop.last elements.
    - collapse_id: The id of the collapse element.
    - is_expanded: The state of the collapse element.
#}
{% set override = overrides[item['#return_value']] ?? 'default' %}

{% if override != 'remove' %}
  {% apply spaceless %}
    {% set delta = (current_nesting_level - new_nesting_level) | abs %}
    {% if loop.first %}
      <ul {{ attributes.setAttribute('class', 'az-bef-checkboxes list-unstyled m-0 p-0') }}>
    {% else %}
      {% if delta %}
        {% for i in 1..delta %}
          {% if new_nesting_level > current_nesting_level %}
            {% if is_expanded == 'true' %}
              {% set collapse_classes = 'az-bef-ul list-unstyled collapse show' %}
            {% else %}
              {% set collapse_classes = 'az-bef-ul list-unstyled collapse' %}
            {% endif %}
            <ul {{ attributes.setAttribute('id', collapse_id).setAttribute('class', collapse_classes) }}>
          {% else %}
            </ul>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}
    <li>{{ item }}</li>
    {% if loop.last %}
      {# Close any remaining <ul> tags #}
      {% for i in 1..new_nesting_level %}
        </ul>
      {% endfor %}
    {% endif %}
  {% endapply %}
{% endif %}
