{%
  apply spaceless
%}
  {% set delta = (current_nesting_level - new_nesting_level) | abs %}
  {% if loop.first %}
    <ul {{ attributes.setAttribute('class', 'az-bef-checkboxes list-unstyled m-0 p-0') }}>
  {% else %}
    {% if delta %}
      {% for i in 1..delta %}
        {% if new_nesting_level > current_nesting_level %}
          <ul {{ attributes.setAttribute('id', collapse_id).addClass('az-bef-ul list-unstyled collapse').addClass(vars.is_expanded == 'true' ? 'show' : '') }}>
        {% else %}
          </ul>
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endif %}

  <li>{{ item }}

  {% if loop.last %}
    {# Close any remaining <li> tags #}
    {% for i in new_nesting_level..0 %}
      </li></ul>
    {% endfor %}
  {% endif %}
{% endapply %}
