{#
/**
 * @file
 * Default theme implementation of an environment indicator element.
 *
 * Available variables:
 * - title: The name of the environment.
 * - description: Additional information to be shown.
 * - attributes: HTML attributes for the environment indicator.
 *
 * @see template_preprocess_datetime_form()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ title }}
  {% if description %}
    <span class="description">{{ description }}</span>
  {% endif %}
  {% if switcher %}
    {{ switcher }}
  {% endif %}
</div>
