/* Display - Full */
.az-person-categories-list .az-person-category-item {
	margin-right: 0.5rem;
}

.node--type-az-person.node--view-mode-full figure {
	/* 	Temporary fix until forking Barrio is complete
		(https://github.com/az-digital/az_quickstart/issues/690). This CSS rule
		should be removed or relocated once forking Barrio is complete. */
	margin-bottom: 0 !important;
}

.node--type-az-person .card .img-fluid,
.az-person-modal .card .img-fluid {
	/* Sharpen bottom corners of images in the top img card position */
	border-radius: 0;
}

/* Views */
.az-person-row {
	margin: 0 0 1rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid hsl(180, 10%, 94%);
}
.az-person-row:last-child {
	border-bottom: none;
}

.az-person-modal-image .img-fluid {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center center;
	/* Sharpen corners on this image - rounding and overflow is captured in parent */
	border-radius: 0;
}

.az-person-modal .modal .close {
	right: 0;
	z-index: 30;
	color: #ffffff;
	text-shadow: none;
	opacity: 1;
}

.az-person-modal .az-person-modal-close {
	mix-blend-mode: difference;
}
