/* UA-BRAND-ICONS.CSS/UA-BRAND-ICONS.MIN.CSS WILL BE OVERWRITTEN BY GULP TASK*/
/* If you need to make changes, make them only in `templates/ua-brand-icons-template.css` */

@font-face {
  font-family: "ua-brand-symbols";
  src: url('./ua-brand-symbols.eot');
  src: url('./ua-brand-symbols.eot?#iefix') format('eot'),
    url('./ua-brand-symbols.woff2') format('woff2'),
    url('./ua-brand-symbols.woff') format('woff'),
    url('./ua-brand-symbols.ttf') format('truetype'),
    url('./ua-brand-symbols.svg#ua-brand-symbols') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ua-brand-"], [class*=" ua-brand-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "ua-brand-symbols" !important;
  /* Better font rendering. */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}


.ua-brand-alumni:before {
  content: "\E600";
}

.ua-brand-athletics:before {
  content: "\E601";
}

.ua-brand-az-index:before {
  content: "\E602";
}

.ua-brand-bookmark:before {
  content: "\E603";
}

.ua-brand-bottom-corner:before {
  content: "\E604";
}

.ua-brand-bottom-left-corner:before {
  content: "\E605";
}

.ua-brand-bottom-right-corner:before {
  content: "\E606";
}

.ua-brand-calendar:before {
  content: "\E607";
}

.ua-brand-campus-map:before {
  content: "\E608";
}

.ua-brand-checklist:before {
  content: "\E609";
}

.ua-brand-checkmark:before {
  content: "\E60A";
}

.ua-brand-click:before {
  content: "\E60B";
}

.ua-brand-cost:before {
  content: "\E60C";
}

.ua-brand-directory:before {
  content: "\E60D";
}

.ua-brand-document:before {
  content: "\E60E";
}

.ua-brand-down-arrow:before {
  content: "\E60F";
}

.ua-brand-down-left-arrow:before {
  content: "\E610";
}

.ua-brand-down-left-point:before {
  content: "\E611";
}

.ua-brand-down-point:before {
  content: "\E612";
}

.ua-brand-down-right-arrow:before {
  content: "\E613";
}

.ua-brand-down-right-point:before {
  content: "\E614";
}

.ua-brand-download:before {
  content: "\E615";
}

.ua-brand-email:before {
  content: "\E616";
}

.ua-brand-email2:before {
  content: "\E617";
}

.ua-brand-facebook:before {
  content: "\E618";
}

.ua-brand-fast-forward:before {
  content: "\E619";
}

.ua-brand-feedback:before {
  content: "\E61A";
}

.ua-brand-foursquare:before {
  content: "\E61B";
}

.ua-brand-googleplus:before {
  content: "\E61C";
}

.ua-brand-grip:before {
  content: "\E61D";
}

.ua-brand-instagram:before {
  content: "\E61E";
}

.ua-brand-left-arrow:before {
  content: "\E61F";
}

.ua-brand-left-arrow2:before {
  content: "\E620";
}

.ua-brand-left-corner:before {
  content: "\E621";
}

.ua-brand-left-point:before {
  content: "\E622";
}

.ua-brand-link:before {
  content: "\E623";
}

.ua-brand-linkedin:before {
  content: "\E624";
}

.ua-brand-majors-and-degrees:before {
  content: "\E625";
}

.ua-brand-map-marker:before {
  content: "\E626";
}

.ua-brand-maximize:before {
  content: "\E627";
}

.ua-brand-minimize:before {
  content: "\E628";
}

.ua-brand-minus:before {
  content: "\E629";
}

.ua-brand-news:before {
  content: "\E62A";
}

.ua-brand-pause:before {
  content: "\E62B";
}

.ua-brand-pinterest:before {
  content: "\E62C";
}

.ua-brand-plus:before {
  content: "\E62D";
}

.ua-brand-print:before {
  content: "\E62E";
}

.ua-brand-refresh:before {
  content: "\E62F";
}

.ua-brand-rewind:before {
  content: "\E630";
}

.ua-brand-right-arrow:before {
  content: "\E631";
}

.ua-brand-right-corner:before {
  content: "\E632";
}

.ua-brand-right-point:before {
  content: "\E633";
}

.ua-brand-rss:before {
  content: "\E634";
}

.ua-brand-search:before {
  content: "\E635";
}

.ua-brand-sign-post:before {
  content: "\E636";
}

.ua-brand-spring-fling:before {
  content: "\E637";
}

.ua-brand-stop:before {
  content: "\E638";
}

.ua-brand-top-corner:before {
  content: "\E639";
}

.ua-brand-top-left-corner:before {
  content: "\E63A";
}

.ua-brand-top-right-corner:before {
  content: "\E63B";
}

.ua-brand-tour:before {
  content: "\E63C";
}

.ua-brand-twitter:before {
  content: "\E63D";
}

.ua-brand-ua-mobile:before {
  content: "\E63E";
}

.ua-brand-uaccess:before {
  content: "\E63F";
}

.ua-brand-uasavvy:before {
  content: "\E640";
}

.ua-brand-unbookmark:before {
  content: "\E641";
}

.ua-brand-up-arrow:before {
  content: "\E642";
}

.ua-brand-up-left-arrow:before {
  content: "\E643";
}

.ua-brand-up-left-arrow2:before {
  content: "\E644";
}

.ua-brand-up-left-point:before {
  content: "\E645";
}

.ua-brand-up-point:before {
  content: "\E646";
}

.ua-brand-up-right-arrow:before {
  content: "\E647";
}

.ua-brand-up-right-point:before {
  content: "\E648";
}

.ua-brand-upload:before {
  content: "\E649";
}

.ua-brand-video:before {
  content: "\E64A";
}

.ua-brand-weather:before {
  content: "\E64B";
}

.ua-brand-x:before {
  content: "\E64C";
}

.ua-brand-youtube:before {
  content: "\E64D";
}
