.show-items-used {
  display: inline;
}

.hidden-class-field {
  display: none;
}

.help-text-qty-items-hidden {
  display: none;
}

.hidden-attribute-field {
  display: none !important;
}

.block-class-text-center {
  text-align: center;
}
