{#
/**
 * @file
 * Default theme implementation of a webform access denied.
 *
 * Available variables
 * - attributes: A list of HTML attributes.
 * - message: The access denied message.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ message }}
</div>
