/*
*  ACCORDIONS
*
*  Specificity overrides from AZ Bootstrap, to ensure they look correct in Drupal.
*/
.accordion .card {
  overflow: hidden;
}
.accordion .card:first-of-type {
  border-bottom: 0;
}
.accordion .card .card-header {
  margin-bottom: -1px;
}
