body {
    background-color: #E2E2DD;
  }
  .example-wrapper {
    max-width: 600px;
    margin: auto;
  }
  hr {
    margin: 0rem 0 10rem 0;
    border: #333C dashed 1rem;
  }
  
  
  
  @media only screen and (max-width:480px){
    .footer { width:auto !important; margin-left:0; }
    img { max-width:100% !important; height:auto !important; max-height:auto !important;}
    .header img{max-width:100% !important;height:auto !important; max-height:auto !important;}
    .photo img { width:100% !important; max-width:100% !important; height:auto !important;}
    .responsive-td td>img { margin-left:auto;margin-right:auto; }
    .drop { display:block !important; width: 100% !important; float:left; clear:both;}
    .footerlogo { display:block !important; width: 100% !important; padding-top:15px; float:left; clear:both;}
    .nav4, .nav5, .nav6 { display: none !important; }
    .tableBlock {width:100% !important;}
    .responsive-td {width:100% !important; display:block !important; padding:0 !important; }
    /* MOBILE GLOBAL STYLES - DO NOT CHANGE */
    body, .tb_properties{font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important; font-size: 16px !important; color: #403635 !important; line-height: 1.5 !important; padding: 0px !important; }.buttonstyles{font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important; font-size: 15px !important; color: #8B0015 !important; padding: 10px !important; }h1{font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important; font-size: 24px !important; color: #1E5288 !important; line-height: 1.15 !important; }h2{font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important; font-size: 20px !important; color: #1E5288 !important; line-height: 1.15 !important; }h3{font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif !important; font-size: 18px !important; color: #403635 !important; line-height: 1.15 !important; }a:not(.buttonstyles){line-height: 1.5 !important; }.mobile-hidden{display: none !important; }.responsive-td {width: 100% !important; display: block !important; padding: 0 !important;}
    /* END OF MOBILE GLOBAL STYLES - DO NOT CHANGE */
  }
  @media only screen and (max-width: 640px) {
    .container { width:100% !important; }
    .mobile-hidden { display:none !important; }
    .logo { display:block !important; padding:0 !important; }
    .photo img { width:100% !important; height:auto !important;}
    .nav5, .nav6 { display: none !important;}
    .fluid, .fluid-centered {
      width: 100% !important;
      max-width: 100% !important;
      height: auto !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    .fluid-centered {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  
  
  body.editor-mode-template::after,
  body.editor-mode-templatebasedemail::after {
    content: 'Commercial Template';
    font-size: .8rem;
    display: block;
    background-color: rgba(0,0,0,0.8);
    color: #FFF;
    padding: 5px 8px 3px 8px;
    border-top-left-radius: 5px;
    position: fixed;
    top: auto;
    bottom: 0;
    right: 0;
    left: auto;
  }
  .dateTime {
    text-align: right;
    font-size: 14px;
    font-style: italic;
    max-height: 20px;
    overflow: hidden;
  }
  .editor-mode-template .dateTime,
  .editor-mode-templatebasedemail .dateTime {
    position: relative;
    max-height: 1px;
    padding-top: 1.5rem;
  }
  .editor-mode-template .dateTime::after,
  body.editor-mode-templatebasedemail .dateTime::after {
    content: '[ date / time ]';
    display: block;
    padding: 2px 5px;
    height: 1rem;
    color: #000;
    text-style: italic;
    border-radius: 4px;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  body,.tb_properties,.body {
    font-family:calibri,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol' !important;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    margin:0 !important;
    color: #212529 !important;
  }
  u + .body a,
  a {
    color: #8B0015;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-thickness: .05em;
  }
  b a {
    font-weight: 700 !important;
  }
  a[style*="color:#AB0520"]{
    color: #8B0015 !important;
    font-weight: 700 !important;
    text-decoration: underline !important;
  }
  a.buttonstyles {
    text-transform: uppercase;
    font-family:calibri,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol' !important;
    font-weight: 500 !important;
    text-decoration: none !important;
  }
  h1,h2 {
    color: #1E5288;
  }
  h1,h2,h3,h4,h5,h6 {
    font-family:calibri,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol' !important;
    line-height: 1.2 !important;
    margin: 10px 0;
  }
  p {
    margin: 10px 0;
  }
  span[style*="font-family:Calibri"] {
    font-family:calibri,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol' !important;
  }
  table td { border-collapse: collapse; }
  img {
    font-size: 16px;
    font-weight: 500;
    font-family: calibri,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
    color: #212529;
    line-height: 1.4;
    text-indent: 5px;
    outline: 0;
  }
  img[height] {
    height: auto !important;
  }
  a img { border: none; }
  .stylingblock-content-wrapper a { display: inline; }
  .logo { display:block !important; padding:0; }
  .footer,
  .footer a { color: #FFFFFF; }
  
  
  
  
  /*
  img[data-src^="https://image.comms.arizona.edu/"] {
    opacity: .5;
    max-width: 90vw;
    margin: auto;
  }
  td:has(img[data-src^="https://image.comms.arizona.edu/"]) {
  
  }
  
  table:has(img[data-src^="https://image.comms.arizona.edu/"]) {
    position: relative;
  }
  table:has(img[data-src^="https://image.comms.arizona.edu/"]):after {
    content: 'bad!';
    background-color: rgba(255,25,25,.75);
    color: white;
    position: absolute;
    inset: 0;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
  }
  */
  
  
  
  .bad {
    background-color: red;
    color: white;
    padding: 0 5px 2px 5px;
  }
  .good {
    background-color: rgb(121,212,121);
    color: #121212;
    padding: 0 5px 2px 5px;
  }
  