.fa-form .wFormHeader {
  display: none;
}

.fa-form .wFormContainer .wForm {
  background-color: transparent;
}

.fa-form .wFormContainer .wForm form {
  background-color: transparent;
}

.fa-form .wForm {
  background-color: transparent;
}

.fa-form .htmlSection .htmlContent {
  color: white !important;
}