.az-bef-vertical > h2 {
  margin-top: 3rem !important;
  font-size: 1.5rem;
}

.az-bef-vertical .form-type-textfield {
  margin-bottom: 0;
}
.az-bef-vertical .form-type-textfield > label {
  font-weight: 600;
  color: #1e5288;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid #e9ecef;
  width: 100%;
}

.az-bef-vertical fieldset {
  min-width: 100%;
}

.az-bef-vertical .collapser:not(.level-0) {
  color: unset !important;
}
.az-bef-vertical .collapser::after {
  font-family: "Material Icons Sharp";
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  float: left;
  margin-right: 2px;
  margin-left: -1px;
}
.az-bef-vertical .collapser[aria-expanded=true]::after {
  content: "remove";
}
.az-bef-vertical .collapser[aria-expanded=false]::after {
  content: "add";
}

.az-bef-vertical .collapser.level-0 {
  display: block;
  border-top: 1px solid #e9ecef;
  font-weight: 600;
}
.az-bef-vertical .collapser.level-0::after {
  float: right;
  vertical-align: bottom;
}
.az-bef-vertical .collapser.level-0[aria-expanded=true]::after {
  content: "expand_less";
}
.az-bef-vertical .collapser.level-0[aria-expanded=false]::after {
  content: "expand_more";
}

.az-bef-ul > li:has(.collapser) {
  margin-bottom: 0.25rem;
}

.az-bef-checkboxes > li > .checkbox {
  display: block;
  margin-top: .5rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #1e5288;
}
.az-bef-checkboxes > li > .checkbox > .form-checkbox {
  margin-top: 0.2rem;
}

.az-bef-checkboxes ul > li > ul {
  padding-left: 20px;
}

.az-bef-checkboxes > li > ul > li > ul {
  padding-left: 10px;
}

.az-bef-checkboxes > li > ul {
  padding-left: 4px;
  margin-top: .25rem;
}

button.js-bef-clear-all {
  margin-bottom: 1rem;
}

.js-bef-filter-count {
  margin-left: 5px;
}
