.az-bef-vertical ul {
  list-style: none;
}
.az-bef-vertical .collapser::after {
    font-family: "Material Icons Sharp";
    -webkit-font-variant-ligatures: no-common-ligatures;
    font-variant-ligatures: no-common-ligatures;
}
.az-bef-vertical .collapser {
    top: 2px;
    right: 20px;
    font-size: 1rem;
    display: inline-block;
}

.az-bef-vertical .collapser.level-0 {
    top: 2px;
    right: 20px;
    font-size: 1.25rem;
    display: inline-block;
}
.az-bef-vertical .collapser[aria-expanded=true]::after {
  content: "remove";
}
.az-bef-vertical .collapser[aria-expanded=false]::after {
  content: "add";
}
.az-bef-vertical .collapser.level-0[aria-expanded=true]::after {
    content: "expand_less";
}
.az-bef-vertical .collapser.level-0[aria-expanded=false]::after {
    content: "expand_more";
}

.az-bef-vertical {
  margin-bottom: 1rem;
}

form>.form-row>fieldset.form-type-textfield>label {
  font-weight: 600;
  color: #1e5288;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding-top: 1rem;
  border-top: 1px solid #e9ecef;
  width: 100%;
}

div.checkbox>div.bef-checkboxes>ul {
  padding: 0;
  margin: 0;
}

div.checkbox>div.bef-checkboxes>ul>li>div.checkbox>label {
  color: #1E5288;
  font-size: 1rem;
  font-weight: 600;
}

div.checkbox>div.bef-checkboxes>ul>li>ul {
  padding-left: 3px;
  margin: 0.5rem 0 0 0;
}
div.checkbox>div.bef-checkboxes>ul>li>ul>li>ul {
  padding-left: 10px;
}
div.checkbox>div.bef-checkboxes>ul>li>ul>li>ul>li>ul,
div.checkbox>div.bef-checkboxes>ul>li>ul>li>ul>li>ul>li>ul,
div.checkbox>div.bef-checkboxes>ul>li>ul>li>ul>li>ul>li>ul>li>ul,
div.checkbox>div.bef-checkboxes>ul>li>ul>li>ul>li>ul>li>ul>li>ul>li>ul {
  padding-left: 20px;
}


div.checkbox>div.bef-checkboxes>ul>li:has(ul)>div {
  margin: 15px 0 0 0;
  padding: 0;
}

div.checkbox>div.bef-checkboxes>ul>li:has(ul)>div>label {
  font-weight: 600 !important;
  color: #1e5288 !important;
  font-size: 1.25rem !important;
  line-height: 1.5rem !important;
  padding-top: 1rem !important;
  border-top: 1px solid #e9ecef !important;
  width: 100% !important;
}

div.checkbox>div.bef-checkboxes>ul>li:has(ul)>ul>li>div.checkbox>label {
  font-weight: 600;
}

div.checkbox>div.bef-checkboxes>ul>li: has(ul)>div>ul>li:has(ul)>div {
  padding: 0;
}

div.checkbox>div.bef-checkboxes>ul>li: has(ul)>div>ul>li:has(ul)>div>input {
  display: none;
}

div.checkbox>div.bef-checkboxes>ul>li: has(ul)>div>ul>li:has(ul)>div>label {
  font-weight: 600 !important;
  width: 100% !important;
  margin-top: 0.5rem;
}

button.js-bef-clear-all {
  margin-bottom: 1rem;
}

.js-bef-filter-count {
  margin-left: 5px;
}

.az-bef-vertical h2 {
  margin-top: 3rem !important;
  font-size: 1.5rem;
}
