.chosen-container-single,
.chosen-search-input,
.chosen-drop {
    min-width: max-content;
}

.chosen-container-multi {
  min-width: 250px;
}

/* Hide the chosen dropdown on disabled elements. */
select[disabled] + .chosen-container .chosen-drop {
  display: none;
}
