// Overrides Claro layout for node form.
// @see https://github.com/az-digital/az_quickstart/issues/1716
// @see https://www.drupal.org/project/drupal/issues/3184667

@media screen and (min-width: 61rem) {
  .layout-region--node-main,
  .layout-region--node-footer {
    width: 65% !important;
  }

  .layout-region--node-main .layout-region__content,
  .layout-region--node-footer .layout-region__content {
    max-width: 100% !important;
  }

  .layout-region--node-secondary {
    width: 35% !important;
  }
}
