/**
 * @file
 * Claro component overrides for AZ Core
 * @see https://github.com/az-digital/az_quickstart/issues/4711
 */

/* Restore Claro modal title styles in admin dialogs. */
.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
  line-height: calc(var(--space-m) * 2);
  color: var(--jui-dialog-title-color);
}

/* Restore Claro messages title color in admin pages. */
.messages__title {
  color: var(--messages-fg-color);
}
