/* Accordion copy link styling */
.accordion_link {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.accordion_link:hover {
    color: #0c63e4;
}

.accordion_link--float-right {
    margin-left: auto;
    margin-right: 0;
}

.accordion_link--icon {
    width: 20px;
    height: 20px;
    display: inline-block;
}