/**
 * Pre-set css hover colors based on primary card background color
 *
 */


.text-bg-blue.stat-bold-hover:hover * {
    background-color: #ffffff !important;
    color: RGBA(var(--bs-blue-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-red.stat-bold-hover:hover * {
    background-color: #ffffff !important;
    color: RGBA(var(--bs-red-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-sky.stat-bold-hover:hover * {
    background-color: RGBA(var(--bs-blue-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-sky-rgb),var(--bs-bg-opacity,1)) !important;
}

.text-bg-oasis.stat-bold-hover:hover * {
    background-color: #ffffff!important;
    color: RGBA(var(--bs-oasis-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-midnight.stat-bold-hover:hover * {
    background-color: RGBA(var(--bs-sky-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-midnight-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-chili.stat-bold-hover:hover * {
    background-color: #ffffff !important;
    color: RGBA(var(--bs-chili-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-cool-gray.stat-bold-hover:hover * {
    background-color: RGBA(var(--bs-azurite-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-cool-gray-rgb),var(--bs-bg-opacity,1)) !important;
}


/* Without direct referecnes */
.text-bg-azurite.stat-bold-hover:hover {
    background-color: #ffffff !important;
    color: RGBA(var(--bs-cool-azurite-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-bloom.stat-bold-hover:hover * {
    background-color: RGBA(var(--bs-blue-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-leaf-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-leaf.stat-bold-hover:hover * {
    background-color: RGBA(var(--bs-blue-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-leaf-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-river.stat-bold-hover:hover * {
    background-color: RGBA(var(--bs-blue-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-sky-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-ash.stat-bold-hover:hover * {
    background-color: #ffffff !important;
    color: RGBA(var(--bs-ash-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-silver.stat-bold-hover:hover * {
    background-color: RGBA(var(--bs-ash-rgb),var(--bs-bg-opacity,1)) !important;
    color: RGBA(var(--bs-white-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-mesa.stat-bold-hover:hover * {
    background-color: #ffffff !important;
    color: RGBA(var(--bs-red-rgb),var(--bs-bg-opacity,1)) !important;
}
.text-bg-gray-100.stat-bold-hover:hover * {
    background-color: RGBA(var(--bs-ash-rgb),var(--bs-bg-opacity,1)) !important;
    color: #ffffff !important;
}
.text-bg-gray-200.stat-bold-hover:hover * {
    background-color: RGBA(var(--bs-ash-rgb),var(--bs-bg-opacity,1)) !important;
    color: #ffffff !important;
}
.text-bg-gray-300.stat-bold-hover:hover * {
    background-color: RGBA(var(--bs-ash-rgb),var(--bs-bg-opacity,1)) !important;
    color: #ffffff !important;
}
