.stat-with-link:hover .stat-title,
.stat-title > a:hover {
  text-decoration: underline;
}

.stat-with-link:hover img {
  transform: scale(1.03);
  transition: ease .25s;
}

.stat-title > a {
  text-decoration: inherit;
}

.stat-body .visually-hidden {
  display: block;
  position: static !important;
}
