#drupal-off-canvas button, 
#drupal-off-canvas .button,
#drupal-off-canvas .inline-block-list + .use-ajax {
  /* Provide a button effect for "submit" buttons in Layout Builder. */
  display: inline-block;
  margin: 1rem 0 .25rem 0;
  padding: 0.375rem 0.75rem;
  background-color: #70b865;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1.5;
  white-space: normal;
  border-width: 2px;
  border-radius: 0;
}
#drupal-off-canvas .button + .button {
  /* Provide left spacing between sibling buttons. */
  margin-left: .5rem;
}
#drupal-off-canvas .button.dialog-cancel {
  /* Provide visual distinction between different buttons. */
  background-color: #dee2e6;
  color: #001c48;
}
#drupal-off-canvas .form-actions {
  display: flex;
}
#drupal-off-canvas label {
  display: inline;
}

#layout-builder .layout-builder__link--configure {
  /* Ensure "configure" link never gets hidden behind components. */
  position: relative;
  z-index: 5;
  box-sizing: border-box;
  padding: 5px;
  background-color: rgba(255,255,255,.7);
}
.layout-builder__section {
  /*
  *  Ensure sections with background images are interactable in 
  *  the event they're the only component in the section.
  */
  min-height: 250px;
} 