{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% set button_label = attributes.value|default('Search'|t) %}
<button{{ attributes.removeClass('btn-primary').setAttribute('aria-label', button_label) }}>
  <span class="visually-hidden">{{ button_label }}</span>
  <span aria-hidden="true" class="material-symbols-rounded">search</span>
</button>{{ children }}
