/* Override for Entity Reference Margins issue. */

/* CSS reason: The issue is that inline labels in the views need 0 margin,
 * but labels for h3 in the default display need margin.
 * @TODO: Possible fix for Barrio Bootstrap Core?
 */

.field--type-entity-reference {
    margin: 0 !important;
}

.field--type-entity-reference .field__label:not(.fw-bolder) {
    font-weight: 500 !important;
    margin: 1.042em 0 .667em !important;
}