parameters:
	ignoreErrors:
		-
			message: "#^Property Drupal\\\\sophron_guesser\\\\ProxyClass\\\\SophronMimeTypeGuesser\\:\\:\\$service \\(Drupal\\\\sophron_guesser\\\\SophronMimeTypeGuesser\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: sophron_guesser/src/ProxyClass/SophronMimeTypeGuesser.php
