.align-center .az-media {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Edit screen sizing - provides consistent preview for editors */
.az-media.ratio {
  width: 400px;
  max-width: 100%;
}
