includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  level: 1
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
