/**
 * @file
 * AZ GDPR Consent Management - Styles
 *
 * Ensures proper aspect ratio display when Klaro wraps iframes.
 */

/**
 * When Klaro wraps an iframe, it adds an extra div layer between .ratio and
 * the iframe. This extends the ratio behavior to iframes nested one level deeper.
 */
.ratio iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
