/**
 * @file
 * AZ GDPR Consent Management - Styles
 *
 */

/**
 * Hide the Klaro toggle button since we're using a footer link instead.
 */
#klaro_toggle_dialog {
  display: none !important;
}

/**
 * When Klaro wraps an iframe, it adds an extra div layer between .ratio and
 * the iframe. This extends the ratio behavior to iframes nested one level deeper.
 */
.ratio iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
