# Configuration file for PHPStan static code checking, see https://phpstan.org.
includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  level: 2
  paths:
    - .
  ignoreErrors:
    # new static() is a best practice in Drupal, so we cannot fix that.
    - "#^Unsafe usage of new static#"
