{% extends "@bootstrap_barrio/block/block.html.twig" %}
{#
/**
 * @file
 * Arizona Barrio's theme implementation for a search form block.
 * Extends Bootstrap Barrio's search form block template.
 *
 * Available variables:
 * - content: The content of this block.
 * - content_attributes: A list of HTML attributes applied to the main content
 *   tag that appears in the template.
 *
 * @see template_preprocess_block()
 * @see search_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{% set title_attributes = title_attributes.addClass('sr-only') %}
{% set content_attributes = content_attributes.addClass('content', 'container-inline') %}


{% block content %}
               <form class="navbar-offcanvas-search bg-white pr-3">
                 <div class="input-group">
                   <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                   <div class="input-group-append">
                     <button class="btn" type="submit"><span class="material-icons-sharp material-icons">search</span></button>
                   </div>
                 </div>
               </form>
    {{ parent() }}
{% endblock %}

