.ds-1col,
.ds-2col,
.ds-3col,
.ds-3col-equal,
.ds-4col {
  /*
  *  Make columns position relative to ensure background images
  *  respond properly to their "parent" container.
  *
  *  FUTURE IMPROVEMENT: Include this with our custom layouts.
  */
  position: relative;
}

.component-w-50 {
  /*
  *  Make component's width 50%. Different from AZ Bootstrap's .w-50
  *  because it includes media queries for mobile.
  */
  width: 100%;
}

.full-width-wrapper {
  /*
  *  Make component 100% of viewport width, and translate it left
  *  to keep it within the viewport.
  */
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

.card-deck .card p:last-child {
  /*
  *  Remove extra whitespace.
  *
  *  NOTE: Consider adding this to Bootstrap instead? */
  margin: 0;
}

/* MEDIA QUERIES */

/* @min-width 576px */
@media (min-width: 576px) {
  .card-deck {
    flex-flow: column;
  }
  .card-deck .card {
    margin-bottom: 15px;
  }
  .card-deck .card-body {
    padding: 2.5rem;
  }
}

/* @min-width 768px */
@media (min-width: 768px) {
  .component-w-50 {
    width: 65%;
  }
}

/* @min-width 992px */
@media (min-width: 992px) {
  .card-deck {
    flex-flow: row wrap;
  }
  .component-w-50 {
    width: 50%;
  }
}
