/* Styles for az_text_background paragraph type. */

.text-with-background {
  padding: 3em 0;
}

.background-wrapper.full-width-background {
  width: initial;
}

.full-width-background {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
