.nav-link, .nav-pills .nav-link, .nav-tabs .nav-link {
  background-color: white;
}
.full-width-background {
    max-width: calc(100vw - var(--scrollbar-width) / 2);
}
.layout-sidebar-first .full-width-background,
.layout-sidebar-second .full-width-background {
    max-width: calc(100vw - var(--scrollbar-width));
}
.region-content .full-width-background {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    overflow: hidden;
}
.region-content .az-full-width-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.region-content .az-full-width-column-content {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.container-absolute {
    bottom: 0;
    top: 0;
    float: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}
@media (min-width: 768px) {
    .layout-sidebar-first .region-content .full-width-background .az-full-width-column-content {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .layout-sidebar-first .region-content .full-width-background .az-full-width-row {
        margin-right: -30px;
        margin-left: -30px;
        -ms-flex-pack: end!important;
        justify-content: flex-end!important;
    }
    .layout-sidebar-first .region-content .full-width-background {
        margin-left: calc(33.333333333333333% - 50vw);
        margin-right: calc(66.66666666666% - 50vw);
    }
    .layout-sidebar-second .region-content .full-width-background .az-full-width-column-content {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .layout-sidebar-second .region-content .full-width-background .az-full-width-row {
        -ms-flex-pack: start!important;
        justify-content: flex-start!important;
    }
    .layout-sidebar-second .region-content .full-width-background {
        margin-right: calc(33.333333333333333% - 50vw);
        margin-left: calc(66.66666666666% - 50vw);
    }
    .layout-two-sidebars .region-content .full-width-background .az-full-width-row {
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .layout-two-sidebars .region-content .full-width-background .az-full-width-column-content {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .layout-two-sidebars .region-content .full-width-background .full-width-background {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
    }
}
