/* Styles for az_text_media paragraph type. */

.text-on-media {
  background-size: cover;
  background-position: center;
}
.text-on-media-bottom img {
  width: 100%;
}
.text-on-media-bottom.text-on-video img {
  opacity:0;
}
.bg-fixed {
  background-attachment: fixed;
}
.az-video-playing,
.az-video-playing .text-on-video {
  background: none !important;
}
.paragraph--type--az-text-media .box,
.paragraph--type--az-text-media .az-full-width-column-content.box {
  padding: 2em;
  margin-left: 0;
  margin-right: 0;
}
.paragraph--type--az-text-media .column,
.paragraph--type--az-text-media .az-full-width-column-content.column {
  padding-left: 2em;
  padding-right: 2em;
}
.bottom,
.paragraph--type--az-text-media .az-full-width-column-content.bottom {
  margin-top: -5em;
  padding: 2em;
}
.az-video-background .bg-video-player-control {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.9em;
  color: #0c234b;
  z-index: -102;
  cursor: pointer;
  padding: 0.3em 0.6em;
  border: none;
  margin: 10px;
}
.az-video-background .bg-video-player-control:focus,
.az-video-background .bg-video-player-control:hover {
  color: #ab0520;
  border-color: #ab0520;
}
.az-video-playing .az-video-pause {
  z-index: 2;
}
.az-video-paused .az-video-play {
  z-index: 2;
}
.az-video-container iframe {
  position: absolute;
}
.az-video-background {
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.full-width-background .az-video-background {
    width: 100vw;
}
.az-video-loading .az-video-container {
  opacity: 0;
}
.az-video-playing .az-video-container,
.az-video-paused .az-video-container {
  opacity: 1;
}

.az-aspect-ratio .container {
  bottom: 0;
  top: 0;
  left: 50%;
  float: none;
  position: absolute;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 1;
}

.az-aspect-ratio.box .col:first-child {
  align-self: center;
}

.az-aspect-ratio .column .az-full-width-column-content-wrapper {
  align-self: center;
}
.region-content .container .az-full-width-row {
  height: 100%;
}
.az-aspect-ratio.column .az-full-width-column-content {
  height: 100%;
  display: -ms-flexbox!important;
  display: flex!important;
}
