/* Styles for az_text_media paragraph type. */

.text-on-media {
  background-size: cover;
  background-position: center;
}
.bg-fixed {
  background-attachment: fixed;
}
.dark {
  background: rgba(0,0,0,.8);
  color: #fff;
}
.dark h2 {
  color: #fff;
}
.light {
  background: rgba(255,255,255,.8);
}
.transparent {
  background: none;
}
.box {
  padding: 2em;
  margin: 3em 0;
}
.column {
  padding: 5em 2em;
}
.bottom {
  margin-top: -5em;
  padding: 2em;
}
.full-width-background {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}
/*Temporary styles until we can figure out how to add text shadow to a class
 * that is white on white and black on black. Most text over images needs a text
 * shadow, so this can probably be a part of a card that has an overlay over an image
 * and text.*/
.marquee-bg-trans-white .media-row-text {
  text-shadow: 0 0.1em 3em #FFF, 0 0 3em #FFF;
  font-size:18px;
  color:#0b244b;
  letter-spacing:-0.19px;
  font-family: MiloWeb, Verdana, Geneva, sans-serif;
  font-style: normal;
  font-weight: normal;
}
.marquee-bg-trans-white .media-row-heading {
  font-size:48px;
  color:transparent;
  letter-spacing:-0.51px;
  line-height:46px;
  text-shadow: 0 0.1em 3em #FFF, 0 0 3em #FFF;
  font-weight: bold;
}
.paragraphs-item-az-full-width-media-row .container.container-absolute {
  top: -1px;
  bottom: -1px;
}
.shield-cover {
  z-index: 1;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.field--name-thumbnail *{
  visibility:hidden;
  width: 100%;
  height: auto !important;
  float: 0;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.az-video-background .bg-video-player-control {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.9em;
  color: #0c234b;
  z-index: -1;
  cursor: pointer;
  padding: 0.3em 0.6em;
  border: none;
  margin: 10px;
}

.az-video-background .bg-video-player-control:focus,
.az-video-background .bg-video-player-control:hover {
  color: #ab0520;
  border-color: #ab0520;
}

.az-video-playing .az-video-pause {
  z-index: 2;
}

.az-video-paused .az-video-play {
  z-index: 2;
}
.az-video-container iframe {
  position: absolute;
}
.az-video-background {
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.full-width-background .az-video-background {
    width: 100vw;
}
.az-video-loading .az-video-container {
  opacity: 0;
}
.az-video-playing .az-video-container {
  opacity: 1;
}
.field--name-thumbnail * {
  visibility: visible;
}
.height-100 {
  height: 100%;
}

.bottom-line {
  padding: 20px 0;
  border-bottom: 2px solid #f3f3f3;
  border-top: 2px solid #f3f3f3;
}

.paragraphs-item-az-full-width-media-row.mb-0 {
  margin-bottom: -1px !important;
}
.paragraphs-item-az-full-width-media-row {
  width: 100%;
  position: relative;
  overflow: hidden;
}

/*Background repeat*/
.bg-no-repeat {
  background-repeat: no-repeat;
}
/*Background size*/
.bg-size-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bg-size-100-w {
  -webkit-background-size: 101% auto;
  -moz-background-size: 101% auto;
  -o-background-size: 101% auto;
  background-size: 101% auto;
}

/*Background attachment */
.bg-attachment-fixed {
  background-attachment: fixed;
}
.bg-attachment-scroll {
  background-attachment: scroll;
}

/*Background position */
.bg-center-vert {
  background-position-y: center;
}

.bg-center-horiz {
  background-position-x: center;
}

img.bg-image-aspect-ratio {
  width: 100% !important;
  opacity: 0;
}
.vertical-align-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/*  Must be inside an element that is positioned relatively, like  */
/*  `.paragraphs-item-az-full-width-media-row`                   */

.container.container-absolute {
  bottom: 0;
  top: 0;
  float: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

@media (min-width: 768px) {
  .container.container-absolute {
    margin-left: -376px;
    left:50%;
    width: 752px;
  }
}

@media (min-width: 992px) {
  .container.container-absolute {
    margin-left: -486px;
    width: 972px;
  }
}

@media (min-width: 1200px) {
  .container.container-absolute {
    margin-left: -586px;
    width: 1172px;
  }
}
