@media (min-width: 768px) {
  #sidebar_first {
    margin-top: var(--sidebar-top-margin);
  }
}

@media (min-width: 768px) {
  .layout-sidebar-second .region-content .az-aspect-ratio.full-width-background.push-sidebar-down .container {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    overflow: hidden;
  }
  .layout-one-sidebar .region-content .az-aspect-ratio.full-width-background.push-sidebar-down .container {
      width: auto;
  }
}
@media (min-width: 992px) {
  .layout-sidebar-second .region-content .az-aspect-ratio.full-width-background.push-sidebar-down .container {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    overflow: hidden;
  }
  .layout-one-sidebar .region-content .az-aspect-ratio.full-width-background.push-sidebar-down .container {
      width: auto;
  }
}
@media (min-width: 1200px) {
  .layout-sidebar-second .region-content .az-aspect-ratio.full-width-background.push-sidebar-down .container {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    overflow: hidden;
  }
  .layout-one-sidebar .region-content .az-aspect-ratio.full-width-background.push-sidebar-down .container {
      width: auto;
  }
}
@media (min-width: 768px) {
  .layout-sidebar-first .region-content .full-width-background.push-sidebar-down .az-full-width-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (min-width: 768px) {

  .layout-sidebar-first .region-content .az-aspect-ratio.full-width-background.push-sidebar-down .az-full-width-row,
  .layout-sidebar-second .region-content .az-aspect-ratio.full-width-background.push-sidebar-down .az-full-width-row {
      flex: initial;
      max-width: initial;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
      -ms-flex-pack: initial;
      justify-content: initial;
  }
  .layout-sidebar-first .region-content .full-width-background.push-sidebar-down .az-full-width-row,
  .layout-sidebar-second .region-content .full-width-background.push-sidebar-down .az-full-width-row {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      -ms-flex-pack: start!important;
      justify-content: flex-start!important;
  }
  .layout-two-sidebars .region-content .full-width-background.push-sidebar-down .az-full-width-row {
      -ms-flex-pack: center!important;
      justify-content: center!important;
  }
  .layout-two-sidebars .region-content .full-width-background.push-sidebar-down .az-full-width-row {
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
  }
  .region-content .paragraph--type--az-text-background.full-width-background.push-sidebar-down .az-full-width-column-content {
      padding-left: 0;
      padding-right: 0;
  }
  .layout-two-sidebars .region-content .push-sidebar-down.full-width-background .full-width-background {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
  }
}
.layout-sidebar-first .region-content .full-width-background.push-sidebar-down {
  margin-left: var(--full-width-thirty-three-percent);
  margin-right: var(--full-width-sixty-six-percent);
}
.layout-sidebar-second .region-content .full-width-background.push-sidebar-down {
  margin-right: var(--full-width-thirty-three-percent);
  margin-left:  var(--full-width-sixty-six-percent);
}
