.nav-link, .nav-pills .nav-link, .nav-tabs .nav-link {
  background-color: white;
}
:root {
  --sidebar-top-margin: 0;
}
@media (min-width: 768px) {
    #sidebar_second,
    #sidebar_first {
      margin-top: var(--sidebar-top-margin);
    }
}
.full-width-background {
    max-width: calc(100vw - var(--scrollbar-width));
}
/* See https://github.com/az-digital/az_quickstart/pull/1365 */
.sidebar_first {
    z-index: 3;
}
.layout-sidebar-first .full-width-background,
.layout-sidebar-second .full-width-background {
    max-width: calc(100vw - var(--scrollbar-width));
}
.region-content .full-width-background {
    margin-left: var(--full-width-left-distance);
    margin-right: var(--full-width-right-distance);
    overflow: hidden;
}
.region .az-full-width-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.region-content .az-full-width-column-content {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.region:not(.region-content) .background-wrapper {
    width:initial;
}
.az-aspect-ratio.full-width-background .container {
    bottom: 0;
    top: 0;
    float: none;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.az-aspect-ratio.full-width-background .container {
    bottom: 0;
    float: none;
    position: absolute;
    top: 0px;
    z-index: 0;
  }
  .layout-no-sidebars .az-aspect-ratio.full-width-background .container {
    left: 0;
    right: 0;
  }
  .layout-sidebar-second .az-aspect-ratio.full-width-background .container {
    left: 0;
    right: 0;
  }
.az-aspect-ratio.full-width-background.column .az-full-width-column-content {
    height: 100%;
    display: -ms-flexbox!important;
    display: flex!important;
}
.az-aspect-ratio.full-width-background.box .col:first-child {
    align-self: center;
}

.az-aspect-ratio.full-width-background .column .az-full-width-column-content-wrapper {
    align-self: center;
}
.region-content .full-width-background .container .az-full-width-row {
    height: 100%;
}

@media (min-width: 768px) {
    .layout-sidebar-first .region-content .az-aspect-ratio.full-width-background .container {
        margin-left: calc(50% - 185px);
    }
    .layout-sidebar-second .region-content .az-aspect-ratio.full-width-background .container {
        margin-left: calc(50% - 355px);
    }
    .layout-one-sidebar .region-content .az-aspect-ratio.full-width-background .container {
        width: 540px;
    }
}
@media (min-width: 992px) {
    .layout-sidebar-first .region-content .az-aspect-ratio.full-width-background .container {
        margin-left: calc(50% - 245px);
    }
    .layout-sidebar-second .region-content .az-aspect-ratio.full-width-background .container {
        margin-left: calc(50% - 464px);
    }

    .layout-one-sidebar .region-content .az-aspect-ratio.full-width-background .container {
        width: 722px;
    }
}
@media (min-width: 1200px) {
    .layout-sidebar-first .region-content .az-aspect-ratio.full-width-background .container {
        margin-left: calc(50% - 290px);
    }
    .layout-sidebar-second .region-content .az-aspect-ratio.full-width-background .container {
        margin-left: calc(50% - 565px);
    }

    .layout-one-sidebar .region-content .az-aspect-ratio.full-width-background .container {
        width: 855px;
    }
}
@media (min-width: 768px) {
    .layout-sidebar-first .region-content .full-width-background .az-full-width-row {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: 0;
    }
    .layout-sidebar-first .region-content .az-aspect-ratio.full-width-background .az-full-width-row,
    .layout-sidebar-second .region-content .az-aspect-ratio.full-width-background .az-full-width-row {
        flex: initial;
        max-width: initial;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        -ms-flex-pack: initial;
        justify-content: initial;
    }
    .layout-two-sidebars .region-content .full-width-background,
    .layout-sidebar-second .region-content .full-width-background,
    .layout-sidebar-first .region-content .full-width-background {
        margin-left: var(--full-width-left-distance);
        margin-right: var(--full-width-right-distance);
    }
    .layout-sidebar-second .region-content .full-width-background .az-full-width-row {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        -ms-flex-pack: start!important;
        justify-content: flex-start!important;
    }
    .layout-two-sidebars .region-content .full-width-background .az-full-width-row {
        -ms-flex-pack: center!important;
        justify-content: center!important;
    }
    .layout-two-sidebars .region-content .full-width-background .az-full-width-row {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .region-content .paragraph--type--az-text-background.full-width-background .az-full-width-column-content {
        padding-left: 0;
        padding-right: 0;
    }
}
