/* Styles for az_text_media paragraph type. */

.text-on-media {
  background-size: cover;
  background-position: center;
}
.bg-fixed {
  background-attachment: fixed;
}
.dark {
  background: rgba(0,0,0,.8);
  color: #fff;
}
.dark h2 {
  color: #fff;
}
.light {
  background: rgba(255,255,255,.8);
}
.transparent {
  background: none;
}
.box {
  padding: 2em;
  margin: 3em 0;
}
.column {
  padding: 5em 2em;
}
.bottom {
  margin-top: -5em;
  padding: 2em;
}
.full-width-background {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.field--name-thumbnail *{
  visibility:hidden;
  width: 100%;
  height: auto !important;
  float: 0;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
}

.az-video-background .bg-video-player-control {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.9em;
  color: #0c234b;
  z-index: -1;
  cursor: pointer;
  padding: 0.3em 0.6em;
  border: none;
  margin: 10px;
}

.az-video-background .bg-video-player-control:focus,
.az-video-background .bg-video-player-control:hover {
  color: #ab0520;
  border-color: #ab0520;
}

.az-video-playing .az-video-pause {
  z-index: 2;
}

.az-video-paused .az-video-play {
  z-index: 2;
}
.az-video-container iframe {
  position: absolute;
}
.az-video-background {
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.full-width-background .az-video-background {
    width: 100vw;
}
.az-video-loading .az-video-container {
  opacity: 0;
}
.az-video-playing .az-video-container {
  opacity: 1;
}
.field--name-thumbnail * {
  visibility: visible;
}
.height-100 {
  height: 100%;
}

.bottom-line {
  padding: 20px 0;
  border-bottom: 2px solid #f3f3f3;
  border-top: 2px solid #f3f3f3;
}

.paragraphs-item-az-full-width-media-row.mb-0 {
  margin-bottom: -1px !important;
}
.paragraphs-item-az-full-width-media-row {
  width: 100%;
  position: relative;
  overflow: hidden;
}
