.js-click-copy--copied:before {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: 5px;
}

.js-click-copy--copied:after {
  content: "Link copied!";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
