{#
/**
 * @file
 * Template for Slider photo gallery display.
 *
 * Available variables:
 * - photos: Array of photo entities
 * - gallery: Unique ID for the carousel element
 */
#}

<div class="az-gallery-container">
  {% include '@az_paragraphs_photo_gallery/photo-gallery-carousel.html.twig' with {
    'grid': false,
    'photos': photos,
    'gallery': gallery,
    'style_name': 'az_carousel_item'
  } %}
</div>
