/* Mobile/Base styles */
.az-splitscreen:not(.full-width-background) {
  border-radius: .375rem;
  overflow: hidden;
}
.az-splitscreen-content,
.az-splitscreen-image {
  position: relative;
  width: 100%;
}
.az-splitscreen-image .img-fluid {
  position: relative;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0;
}
.az-splitscreen-image .field--type-entity-reference {
  margin: 0;
}
.az-splitscreen-text {
  width: 100%;
}
/* Desktop styles */
@media screen and (min-width: 768px) {
  .az-splitscreen-content {
    width: 60%;
  }
  .az-splitscreen-image {
    width: 40%;
  }
  .az-splitscreen-image .field--name-field-az-media {
    flex: 1;
  }

  .az-splitscreen-content .az-splitscreen-text.content-width-1 {
    margin-left: calc(var(--full-width-left-distance) * -1 - 1.5rem);
  }

  .layout-sidebar-first .az-splitscreen-content .az-splitscreen-text.content-width-1,
  .layout-two-sidebars .az-splitscreen-content .az-splitscreen-text.content-width-1 {
    margin-left: calc(var(--full-width-left-distance) * -1 - 1.5rem - var(--full-width-sidebar-width));
  }

  .az-splitscreen-content .az-splitscreen-text.content-width-2 {
    margin-right: calc(var(--full-width-right-distance) * -1 - 1.5rem);
  }

  .layout-sidebar-second .az-splitscreen-text.content-width-2,
  .layout-two-sidebars .az-splitscreen-text.content-width-2 {
    margin-right: calc(var(--full-width-right-distance) * -1 - 1.5rem - var(--full-width-sidebar-width));
  }
}
@media screen and (min-width: 992px) {
  .az-splitscreen-content,
  .az-splitscreen-image {
    width: 50%;
  }

  .az-splitscreen-content .az-splitscreen-text.content-width-1 {
    margin-left: calc(var(--full-width-left-distance) * -1 - 4rem);
  }

  .layout-sidebar-first .az-splitscreen-content .az-splitscreen-text.content-width-1,
  .layout-two-sidebars .az-splitscreen-content .az-splitscreen-text.content-width-1 {
    margin-left: calc(var(--full-width-left-distance) * -1 - 4rem - var(--full-width-sidebar-width));
  }

  .az-splitscreen-content .az-splitscreen-text.content-width-2 {
    margin-right: calc(var(--full-width-right-distance) * -1 - 4rem);
  }

  .layout-sidebar-second .az-splitscreen-text.content-width-2,
  .layout-two-sidebars .az-splitscreen-text.content-width-2 {
    margin-right: calc(var(--full-width-right-distance) * -1 - 4rem - var(--full-width-sidebar-width));
  }
}
