/* Mobile/Base styles */
.az-splitscreen-content,
.az-splitscreen-image {
  position: relative;
  width: 100%;
}
.az-splitscreen-image img {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}
.az-splitscreen-image .field--type-entity-reference {
  margin: 0;
}
.az-splitscreen-text {
  width: 100%;
}
/* Desktop styles */
@media screen and (min-width: 768px) {
  .az-splitscreen-content {
    width: 60%;
  }
  .az-splitscreen-image {
    width: 40%;
  }
  .az-splitscreen-image .field--name-field-az-media {
    flex: 1;
  }
}
@media screen and (min-width: 992px) {
  .az-splitscreen-content,
  .az-splitscreen-image {
    width: 50%;
  }
}
