includes:
    - phpstan-baseline.neon
parameters:
    level: 0
    fileExtensions:
        - php
        - module
        - inc
        - install
        - theme
        - profile
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # new static() is a best practice in Drupal, so we cannot fix that.
        - "#^Unsafe usage of new static#"
    paths:
        - .
    excludePaths:
        analyse:
            # Exclude CKEditor 4 plugin paths.
            - src/Plugin/CKEditor4To5Upgrade
            - src/Plugin/CKEditorPlugin
