version: '3.6'

services:
  web:
    environment:
      SIMPLETEST_DB: 'mysql://db:db@db/db'
      SIMPLETEST_BASE_URL: 'http://localhost'
    volumes:
      # Don't share our host working directory as /var/www/html. We want /var/www/html empty for composer.
      -  /var/www/html
        # Instead share our host working directory as a standalone package.
      - type: bind
        source: ../
        target: /usr/local/quickstart-install-profile
        consistency: cached
      - ".:/mnt/ddev_config:ro"
      - ddev-global-cache:/mnt/ddev-global-cache
      - ddev-ssh-agent_socket_dir:/home/.ssh-agent
