name: CI
on:
  pull_request:
  push:
    branches:
      - 'main'
      - '2.x'
      - '3.1.x'
      - '3.0.x'
      - '2.14.x'
      - '2.13.x'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref_name }}
  cancel-in-progress: true

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.setup-test-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup test matrix
        id: setup-test-matrix
        run: |
          TESTS=$(find . -name "*Test.php")
          TESTS_JSON="{\"test\":["
          while IFS= read -r line; do
            name=$(basename -s .php "$line")
            TESTS_JSON+="{\"file\":\"$line\", \"name\":\"$name\"},"
          done <<< "$TESTS"
          TESTS_JSON=${TESTS_JSON%?}
          TESTS_JSON+="]}"
          echo "matrix=$TESTS_JSON" >> $GITHUB_OUTPUT

  composer-validate:
    name: composer validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: '8.4'
      - name: composer version
        run: composer --version
      - name: composer validate
        run: composer validate

  composer:
    name: composer install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: '8.4'
      - name: Find the push source branch name
        if: github.event_name != 'pull_request'
        run: |
          echo "AZ_SOURCE_REF=${GITHUB_REF#refs/*/}" >> ${GITHUB_ENV}
          echo "AZ_TARGET_REF=${GITHUB_REF#refs/*/}" >> ${GITHUB_ENV}
      - name: Find the pull request source branch name
        if: github.event_name == 'pull_request'
        run: |
          echo "AZ_SOURCE_REF=${GITHUB_HEAD_REF}" >> ${GITHUB_ENV}
          echo "AZ_TARGET_REF=${GITHUB_BASE_REF}" >> ${GITHUB_ENV}
      - name: Set default branches for scaffolding and dev repos if ref is 2.*
        if: startsWith(github.base_ref, '2.') || startsWith(github.ref_name, '2.')
        id: test-2-x
        run: |
          echo "DEFAULT_SCAFFOLD_BRANCH=2.x" >> ${GITHUB_ENV}
          echo "DEFAULT_DEV_BRANCH=1.x" >> ${GITHUB_ENV}
      - name: Fallback to main branch
        if: steps.test-2-x.outcome == 'skipped'
        run: |
          echo "DEFAULT_SCAFFOLD_BRANCH=main" >> ${GITHUB_ENV}
          echo "DEFAULT_DEV_BRANCH=main" >> ${GITHUB_ENV}
      - name: Set variables
        run: |
          if [ $(git ls-remote --heads https://github.com/az-digital/az-quickstart-scaffolding.git $AZ_SOURCE_REF | wc -l) = 1 ]; then
            echo "SCAFFOLD_BRANCH=${AZ_SOURCE_REF}" >> ${GITHUB_ENV}
          elif [ $(git ls-remote --heads https://github.com/az-digital/az-quickstart-scaffolding.git $AZ_TARGET_REF | wc -l) = 1 ]; then
            echo "SCAFFOLD_BRANCH=${AZ_TARGET_REF}" >> ${GITHUB_ENV}
          else
            echo "SCAFFOLD_BRANCH=${DEFAULT_SCAFFOLD_BRANCH}" >> ${GITHUB_ENV}
          fi
          if [ $(git ls-remote --heads https://github.com/az-digital/az-quickstart-dev.git $AZ_SOURCE_REF | wc -l) = 1 ]; then
            echo "DEV_PACKAGE_BRANCH=${AZ_SOURCE_REF}" >> ${GITHUB_ENV}
          elif [ $(git ls-remote --heads https://github.com/az-digital/az-quickstart-dev.git $AZ_TARGET_REF | wc -l) = 1 ]; then
            echo "DEV_PACKAGE_BRANCH=${AZ_TARGET_REF}" >> ${GITHUB_ENV}
          else
            echo "DEV_PACKAGE_BRANCH=${DEFAULT_DEV_BRANCH}" >> ${GITHUB_ENV}
          fi
      - name: Clone scaffolding repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: az-digital/az-quickstart-scaffolding
          path: az-quickstart-scaffolding
          ref: ${{ env.SCAFFOLD_BRANCH }}
      - name: Install dependencies
        run: |
          cd az-quickstart-scaffolding
          composer config repositories.az_quickstart vcs https://github.com/az-digital/az_quickstart.git
          composer config use-github-api false
          ./quickstart_branch.sh --branch ${AZ_SOURCE_REF}
          if [[ ${DEV_PACKAGE_BRANCH} =~ ^[0-9]\.[0-9x] ]]; then
            DEV_PACKAGE_VERSION="${DEV_PACKAGE_BRANCH}-dev"
          else
            DEV_PACKAGE_VERSION="dev-${DEV_PACKAGE_BRANCH}"
          fi
          composer require --no-update --dev az-digital/az-quickstart-dev:${DEV_PACKAGE_VERSION}
          composer install -o
      - name: Save build artifact
        uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ github.workspace }}/az-quickstart-scaffolding
          key: azqs-build-${{ github.sha }}

  phpcs:
    name: PHP_CodeSniffer
    needs: composer
    runs-on: ubuntu-latest
    steps:
      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: '8.4'
          tools: cs2pr, phpcs
      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ github.workspace }}/az-quickstart-scaffolding
          key: azqs-build-${{ github.sha }}
      - name: Generate phpcs report
        continue-on-error: true
        run: |
          cd $GITHUB_WORKSPACE/az-quickstart-scaffolding
          ./vendor/bin/phpcs --standard=web/profiles/custom/az_quickstart/phpcs.xml.dist -sq --report=checkstyle | sed 's/web\/profiles\/custom\/az_quickstart\///' | cs2pr
      - name: Run phpcs
        run: |
          cd $GITHUB_WORKSPACE/az-quickstart-scaffolding
          ./vendor/bin/phpcs -sp --colors --standard=web/profiles/custom/az_quickstart/phpcs.xml.dist

  phpstan:
    name: PHPStan
    needs: composer
    runs-on: ubuntu-latest
    steps:
      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: '8.4'
          tools: cs2pr, phpstan
      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ github.workspace }}/az-quickstart-scaffolding
          key: azqs-build-${{ github.sha }}
      - name: Run phpstan
        run: |
          cd $GITHUB_WORKSPACE/az-quickstart-scaffolding
          ./vendor/bin/phpstan analyse --configuration web/profiles/custom/az_quickstart/phpstan.neon web/profiles/custom/az_quickstart --error-format=checkstyle | sed 's/web\/profiles\/custom\/az_quickstart\///' | cs2pr

  composer-audit:
    name: composer audit (security)
    needs: composer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ github.workspace }}/az-quickstart-scaffolding
          key: azqs-build-${{ github.sha }}
      - name: Run composer audit
        run: |
          cd az-quickstart-scaffolding
          composer audit --abandoned report

  yarn-audit:
    name: yarn audit (security)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '20'
      - run: yarn audit

  eslint:
    name: eslint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: '20'
      - run: yarn install --ignore-scripts
      - name: Generate eslint report
        continue-on-error: true
        run: yarn run eslint . --format json --output-file eslint-report.json
      - name: Annotate eslint results
        continue-on-error: true
        uses: ataylorme/eslint-annotate-action@d57a1193d4c59cbfbf3f86c271f42612f9dbd9e9 # 3.0.0
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          report-json: "eslint-report.json"
      - name: Run eslint
        run: yarn run eslint --color .

  phpunit:
    name: PHPUnit (${{ matrix.test.name }})
    needs: [setup, composer]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix: ${{ fromJson(needs.setup.outputs.matrix) }}
    services:
      chromedriver:
        image: drupalci/webdriver-chromedriver:production
        ports:
          - 9515
      mysql:
        image: mysql:8
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: db
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: '8.4'
          extensions: dom, curl, libxml, mbstring, zip, pdo, mysql, pdo_mysql, bcmath, soap, intl, gd, exif, iconv
      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ github.workspace }}/az-quickstart-scaffolding
          key: azqs-build-${{ github.sha }}
      - name: Run php built-in server
        run: |
          cd az-quickstart-scaffolding
          php -S 172.17.0.1:8080 -t web &
      - name: Prepare test directories
        run: |
          mkdir -pv $GITHUB_WORKSPACE/az-quickstart-scaffolding/reports
          mkdir -pv $GITHUB_WORKSPACE/az-quickstart-scaffolding/web/sites/simpletest/browser_output
          chmod -R 777 $GITHUB_WORKSPACE/az-quickstart-scaffolding/reports
          chmod -R 777 $GITHUB_WORKSPACE/az-quickstart-scaffolding/web/sites/simpletest
      - name: Run phpunit test (${{ matrix.test.file }})
        run: |
          $GITHUB_WORKSPACE/az-quickstart-scaffolding/vendor/bin/phpunit \
            --configuration $GITHUB_WORKSPACE/az-quickstart-scaffolding/web/profiles/custom/az_quickstart/phpunit.xml.dist \
            --bootstrap $GITHUB_WORKSPACE/az-quickstart-scaffolding/web/core/tests/bootstrap.php \
            --log-junit $GITHUB_WORKSPACE/az-quickstart-scaffolding/reports/junit.xml \
            --colors="always" \
            --do-not-cache-result \
            $GITHUB_WORKSPACE/az-quickstart-scaffolding/web/profiles/custom/az_quickstart/"${{ matrix.test.file }}"
        env:
          SYMFONY_DEPRECATIONS_HELPER: weak
          SIMPLETEST_DB: mysql://root:@127.0.0.1:${{ job.services.mysql.ports[3306] }}/db
          SIMPLETEST_BASE_URL: http://172.17.0.1:8080
          BROWSERTEST_OUTPUT_DIRECTORY: ${{ github.workspace }}/az-quickstart-scaffolding/web/sites/simpletest/browser_output
          BROWSERTEST_OUTPUT_VERBOSE: true
          MINK_DRIVER_ARGS_WEBDRIVER: '["chrome", {"browserName":"chrome","goog:chromeOptions":{"args":["--disable-gpu","--headless","--disable-dev-shm-usage","--no-sandbox"]}}, "http://127.0.0.1:${{ job.services.chromedriver.ports[9515] }}"]'
      - name: Upload PHPUnit Artifacts
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: phpunit-results-${{ matrix.test.name }}
          path: |
            ./az-quickstart-scaffolding/web/sites/simpletest/browser_output/
            ./az-quickstart-scaffolding/reports/junit.xml

  install:
    name: drush site:install
    needs: composer
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: db
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: '8.4'
          extensions: dom, curl, libxml, mbstring, zip, pdo, mysql, pdo_mysql, bcmath, soap, intl, gd, exif, iconv
      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ github.workspace }}/az-quickstart-scaffolding
          key: azqs-build-${{ github.sha }}
      - name: Install AZ Quickstart
        run: |
          cd az-quickstart-scaffolding
          ./vendor/bin/drush site:install az_quickstart --db-url=mysql://root:@127.0.0.1:${{ job.services.mysql.ports[3306] }}/db --verbose --yes -n
          ./vendor/bin/drush -y -n pm:install az_demo
      - name: Run php built-in server
        run: |
          cd az-quickstart-scaffolding
          php -S 127.0.0.1:8080 -t web &
      - name: Check for PHP errors and notices
        run: |
          curl -sS -o /dev/null http://127.0.0.1:8080
          curl -sS -o /dev/null http://127.0.0.1:8080/user
          curl -sS -o /dev/null http://127.0.0.1:8080/people
          curl -sS -o /dev/null http://127.0.0.1:8080/people-list
          curl -sS -o /dev/null http://127.0.0.1:8080/pages/text
          curl -sS -o /dev/null http://127.0.0.1:8080/pages/text-background
          curl -sS -o /dev/null http://127.0.0.1:8080/pages/text-media
          curl -sS -o /dev/null http://127.0.0.1:8080/pages/card-decks
          curl -sS -o /dev/null http://127.0.0.1:8080/pages/accordions
          curl -sS -o /dev/null http://127.0.0.1:8080/pages/photo-galleries
          curl -sS -o /dev/null http://127.0.0.1:8080/page-grid
          curl -sS -o /dev/null http://127.0.0.1:8080/page-list
          curl -sS -o /dev/null http://127.0.0.1:8080/news
          curl -sS -o /dev/null http://127.0.0.1:8080/calendar
          curl -sS -o /dev/null http://127.0.0.1:8080/pages/annual-events
          if [ -z "$($GITHUB_WORKSPACE/az-quickstart-scaffolding/vendor/bin/drush -n watchdog:show --count=100 --type=php)" ]; then echo "No PHP notices/errors logged."; else echo "PHP notices/errors found in log." >&2 && exit 1; fi

  upgrade-status:
    name: upgrade_status
    needs: composer
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: db
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: '8.4'
          extensions: dom, curl, libxml, mbstring, zip, pdo, mysql, pdo_mysql, bcmath, soap, intl, gd, exif, iconv
          tools: cs2pr
      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ${{ github.workspace }}/az-quickstart-scaffolding
          key: azqs-build-${{ github.sha }}
      - name: Install AZ Quickstart
        run: |
          cd az-quickstart-scaffolding
          ./vendor/bin/drush site:install az_quickstart --db-url=mysql://root:@127.0.0.1:${{ job.services.mysql.ports[3306] }}/db --verbose --yes -n
          ./vendor/bin/drush -y -n pm:install az_demo
      - name: Generate upgrade status report
        continue-on-error: true
        run: |
          cd az-quickstart-scaffolding
          ./vendor/bin/drush -y -n pm:install upgrade_status
          ./vendor/bin/drush upgrade_status:analyze az_quickstart
