name: Create Release
on:
   workflow_dispatch:
    inputs:
      version:
        description: The version to tag and release
        required: true

jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@d2f58713aaf7809d0c4d11e827c9e9dbbc55b34e
        with:
          php-version: '8.1'
      - name: Add version to info file
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          echo -e "version: ${{ github.event.inputs.version }}" >> az_quickstart.info.yml
          git add az_quickstart.info.yml
          git commit -m "Preparing to tag ${{ github.event.inputs.version }}."
          git push
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.inputs.version }}
          release_name: ${{ github.event.inputs.version }}
          draft: false
          prerelease: false
      - name: Remove version from info file
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          sed -i "/version: /d" az_quickstart.info.yml
          git add az_quickstart.info.yml
          git commit -m "Back to dev."
          git push
      - name: Build project # This would actually build your project, using zip for an example artifact
        run: |
          git clone https://github.com/az-digital/az-quickstart-scaffolding.git az_quickstart
          cd az_quickstart
          composer config repositories.az_quickstart vcs https://github.com/az-digital/az_quickstart.git
          composer config use-github-api false
          composer require --no-update az-digital/az_quickstart:${{ github.event.inputs.version }}
          composer install --no-dev -o
      - name: Zip Assets
        run: |
          zip -r -x\*.git* az_quickstart.zip az_quickstart
      - name: Tar Assets
        run: |
          tar --exclude '*.git*' -c -z -f az_quickstart.tar.gz az_quickstart
      - name: Upload Zip Assets
        id: upload-zip-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./az_quickstart.zip
          asset_name: az_quickstart.zip
          asset_content_type: application/zip
      - name: Upload Tar Asset
        id: upload-tar-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
          asset_path: ./az_quickstart.tar.gz
          asset_name: az_quickstart.tar.gz
          asset_content_type: application/x-gzip
  dispatch:
    needs: build
    strategy:
      matrix:
        repo:
          - az-digital/az-quickstart-pantheon
    runs-on: ubuntu-latest
    steps:
      - name: Notify dependencies
        uses: peter-evans/repository-dispatch@1708dda5703a768a0fb0ef6a7a03a0c3805ebc59
        with:
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          repository: ${{ matrix.repo }}
          event-type: az_quickstart_release
          client-payload: '{"version": "${{ github.event.inputs.version }}"}'
