name: Create Release
on:
   workflow_dispatch:
    inputs:
      version:
        description: The version to tag and release
        required: true
      pre_release:
        description: Is this a pre-release?
        required: false
        default: false
        type: boolean
      make_latest:
        description: Should this be made the latest release?
        required: false
        default: false
        type: boolean
jobs:
  build:
    name: Upload Release Asset
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          php-version: '8.3'
      - name: Create Tag
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          sed -i "/version: /d" az_quickstart.info.yml
          echo -e "version: ${{ github.event.inputs.version }}" >> az_quickstart.info.yml
          git add az_quickstart.info.yml
          git commit -m "Preparing to tag ${{ github.event.inputs.version }}."
          git push
          git tag ${{ github.event.inputs.version }}
          git push origin ${{ github.event.inputs.version }}
      - name: Set variables
        run: |
          if [ $(git ls-remote --heads https://github.com/az-digital/az-quickstart-scaffolding.git $GITHUB_REF_NAME | wc -l) = 1 ]; then
            echo "SCAFFOLD_BRANCH=${GITHUB_REF_NAME}" >> ${GITHUB_ENV}
          else
            echo "SCAFFOLD_BRANCH=3.0.x" >> ${GITHUB_ENV}
          fi
      - name: Clone scaffolding repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: az-digital/az-quickstart-scaffolding
          path: az_quickstart
          ref: ${{ env.SCAFFOLD_BRANCH }}
      - name: Build project
        run: |
          cd az_quickstart
          composer config repositories.az_quickstart vcs https://github.com/az-digital/az_quickstart.git
          composer config use-github-api false
          composer require --no-update az-digital/az_quickstart:${{ github.event.inputs.version }}
          composer install --no-dev -o
      - name: Zip Assets
        run: |
          zip -r -x\*.git* az_quickstart.zip az_quickstart
      - name: Tar Assets
        run: |
          tar --exclude '*.git*' -c -z -f az_quickstart.tar.gz az_quickstart
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ github.event.inputs.version }}
          name: ${{ github.event.inputs.version }}
          draft: false
          make_latest: ${{ github.event.inputs.make_latest }}
          prerelease: ${{ github.event.inputs.pre_release }}
          files: |
            ./az_quickstart.zip
            ./az_quickstart.tar.gz

      - name: Set info file version back to dev
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          sed -i "/version: /d" az_quickstart.info.yml
          echo -e "version: ${{ github.ref_name }}-dev" >> az_quickstart.info.yml
          git add az_quickstart.info.yml
          git commit -m "Back to dev."
          git push

  dispatch:
    needs: build
    strategy:
      matrix:
        repo:
          - az-digital/az-quickstart-pantheon
    runs-on: ubuntu-latest
    steps:
      - name: Notify dependencies
        uses: peter-evans/repository-dispatch@5fc4efd1a4797ddb68ffd0714a238564e4cc0e6f # v4.0.0
        with:
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          repository: ${{ matrix.repo }}
          event-type: az_quickstart_release
          client-payload: '{"version": "${{ github.event.inputs.version }}", "make_latest": "${{ github.event.inputs.make_latest }}"}'
