name: Security workflow
on:
  push:
    schedule:
      - cron:  '0 13 * * *'
jobs:
  dependency-audit:
    name: Dependency Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
      - name: Set variables
        run: |
          export AZ_TRIMMED_REF="${GITHUB_REF#refs/*/}"
          echo "AZ_TRIMMED_REF=${AZ_TRIMMED_REF}" >> ${GITHUB_ENV}
          if [ $(git ls-remote --heads https://github.com/az-digital/az-quickstart-scaffolding.git $AZ_TRIMMED_REF | wc -l) = 1 ]; then
            echo "SCAFFOLD_BRANCH=${AZ_TRIMMED_REF}" >> ${GITHUB_ENV}
          else
            echo "SCAFFOLD_BRANCH=2.6.x" >> ${GITHUB_ENV}
          fi
          if [ $(git ls-remote --heads https://github.com/az-digital/az-quickstart-dev.git $AZ_TRIMMED_REF | wc -l) = 1 ]; then
            echo "DEV_PACKAGE_BRANCH=${AZ_TRIMMED_REF}" >> ${GITHUB_ENV}
          else
            echo "DEV_PACKAGE_BRANCH=main" >> ${GITHUB_ENV}
          fi
      - name: Clone scaffolding repo
        uses: actions/checkout@v3
        with:
          repository: az-digital/az-quickstart-scaffolding
          path: az-quickstart-scaffolding
          ref: ${{ env.SCAFFOLD_BRANCH }}
      - name: Install dependencies
        run: |
          cd az-quickstart-scaffolding
          composer config repositories.az_quickstart vcs https://github.com/az-digital/az_quickstart.git
          composer config use-github-api false
          ./quickstart_branch.sh --branch ${AZ_TRIMMED_REF}
          composer require --no-update --dev az-digital/az-quickstart-dev:dev-${DEV_PACKAGE_BRANCH}
          composer install -o
      - name: Check dependencies for vulnerabilities
        uses: symfonycorp/security-checker-action@v5
        with:
          lock: az-quickstart-scaffolding/composer.lock
  code-check:
    name: Static Code Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
      - name: Set variables
        run: echo "AZ_TRIMMED_REF=${GITHUB_REF#refs/*/}" >> ${GITHUB_ENV}
      - name: Install dependencies
        run: |
          if [ $(git ls-remote --heads https://github.com/az-digital/az-quickstart-scaffolding.git $AZ_TRIMMED_REF | wc -l) = 1 ]; then SCAFFOLD_BRANCH="$AZ_TRIMMED_REF"; else SCAFFOLD_BRANCH=2.6.x; fi
          if [ $(git ls-remote --heads https://github.com/az-digital/az-quickstart-dev.git $AZ_TRIMMED_REF | wc -l) = 1 ]; then DEV_PACKAGE_BRANCH="$AZ_TRIMMED_REF"; else DEV_PACKAGE_BRANCH=main; fi
          git clone --branch $SCAFFOLD_BRANCH https://github.com/az-digital/az-quickstart-scaffolding.git
          cd az-quickstart-scaffolding
          composer config repositories.az_quickstart vcs https://github.com/az-digital/az_quickstart.git
          composer config use-github-api false
          ./quickstart_branch.sh --branch ${AZ_TRIMMED_REF}
          composer require --no-update --dev az-digital/az-quickstart-dev:dev-${DEV_PACKAGE_BRANCH}
          composer install -o
      - name: Run static code analysis
        run: |
          cd az-quickstart-scaffolding
          composer phpcs
