name: Security workflow

on:
  push:
  schedule:
    - cron:  '0 13 * * *'

jobs:
  dependency-audit:
    name: Dependency Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: echo "::set-env name=AZ_TRIMMED_REF::${GITHUB_REF#refs/*/}"
      - name: Install dependencies
        run: |
          composer global require hirak/prestissimo
          if [ $(git ls-remote --heads https://github.com/az-digital/az-quickstart-scaffolding.git $AZ_TRIMMED_REF | wc -l) = 1 ]; then SCAFFOLD_BRANCH="$AZ_TRIMMED_REF"; else SCAFFOLD_BRANCH=master; fi
          git clone --branch $SCAFFOLD_BRANCH https://github.com/az-digital/az-quickstart-scaffolding.git
          cd az-quickstart-scaffolding
          composer config repositories.az_quickstart vcs https://github.com/az-digital/az_quickstart.git
          composer config use-github-api false
          composer require --no-update az-digital/az_quickstart:dev-${AZ_TRIMMED_REF}
          composer install -o
      - name: Check dependencies for vulnerabilities
        run: |
          cd az-quickstart-scaffolding
          composer security-check
  code-check:
    name: Static Code Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: echo "::set-env name=AZ_TRIMMED_REF::${GITHUB_REF#refs/*/}"
      - name: Install dependencies
        run: |
          composer global require hirak/prestissimo
          if [ $(git ls-remote --heads https://github.com/az-digital/az-quickstart-scaffolding.git $AZ_TRIMMED_REF | wc -l) = 1 ]; then SCAFFOLD_BRANCH="$AZ_TRIMMED_REF"; else SCAFFOLD_BRANCH=master; fi
          git clone --branch $SCAFFOLD_BRANCH https://github.com/az-digital/az-quickstart-scaffolding.git
          cd az-quickstart-scaffolding
          composer config repositories.az_quickstart vcs https://github.com/az-digital/az_quickstart.git
          composer config use-github-api false
          composer require --no-update az-digital/az_quickstart:dev-${AZ_TRIMMED_REF}
          composer install -o
      - name: Run static code analysis
        run: |
          cd az-quickstart-scaffolding
          composer phpcs
