name: Test PR on Pantheon
on:
   workflow_dispatch:
    inputs:
      pr_number:
        description: The PR number to apply to the pantheon site
        required: true
      site_name:
        description: The name of the pantheon site
        required: true

jobs:
  test-pr-on-pantheon:
    name: Test PR on Pantheon
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@d2f58713aaf7809d0c4d11e827c9e9dbbc55b34e
        with:
          php-version: '7.4'
      
      - name: Set up SSH
        run: |
          mkdir ${HOME}/.ssh && chmod 700 ${HOME}/.ssh
          echo -e "Host *.drush.in\n    StrictHostKeyChecking no" > ${HOME}/.ssh/config
          echo -e "${{ secrets.PANTHEON_SSH_KEY }}" > ${HOME}/.ssh/id_rsa
          chmod 600 ${HOME}/.ssh/*

      - name: Install terminus
        run: |
          composer -n require pantheon-systems/terminus:^3
          echo "$(pwd)/vendor/bin" >> ${GITHUB_PATH}

      - name: Set up terminus
        run: |
          terminus -y -n auth:login --machine-token ${{ secrets.TERMINUS_TOKEN }}

      - name: Apply PR diff to site
        run: |
          git config --global user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git config --global user.name "${GITHUB_ACTOR}"
          cd $(terminus -y -n local:clone "${SITE_NAME}")
          git checkout -b "${PR_NUM}"
          jq --indent 4 ".extra.patches += {\"az-digital/az_quickstart\": {\"pr-${PRH_NUM}\": \"${PATCH_URL}\"}}" composer.json > composer.json.new
          mv composer.json.new composer.json
          git add composer.json
          git commit --allow-empty -m "Apply PR ${PR_NUM}"
          git push --set-upstream origin "${PR_NUM}"
          terminus -y -n multidev:create "${SITE_NAME}.live" "${PR_NUM}"
        env:
          PATCH_URL: https://patch-diff.githubusercontent.com/raw/az-digital/az_quickstart/pull/${{github.event.inputs.pr_number}}.diff
          PR_NUM: ${{ github.event.inputs.pr_number }}
          SITE_NAME: ${{ github.event.inputs.site_name }}
