{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="az_barrio://css/az-bef-sidebar.css" /> 
{% endblock %}

{% block content %}
  <a href="#" class="btn btn-sm btn-primary btn-block mb-3">Clear filters</a>
  {{ content }}
{% endblock %}
