{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for the system branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance and theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    {{ site_logo }}
  {% endif %}
  {% if site_name %}
    <a class="d-flex align-items-center justify-content-start text-decoration-none" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <span class="d-inline-block h3 text-blue text-uppercase fw-bold my-4">{{ site_name }}</span>
    </a>
  {% endif %}
{% endblock %}
